[2017-09-19 08:45] bmagyar opened #2 "Move controllers to individual packages"
Like it is done at [ros_controllers](https://github.com/ros-controls/ros_controllers/)

[2018-06-22 10:19] Karsten1987 opened #4 "trajectory controller tests fail"
The trajectory controller tests currently fails with the change to the ROS2 master time/clock interface.

[2019-12-16 19:23] piraka9011 opened #9 "As a robotics developer, I want a differential drive controller so that I can control my mobile robot"
## Design requirements

Port over the differential drive controller plugin from [`ros-controls/ros_controllers`](https://github.com/ros-controls/ros_controllers/tree/melodic-devel/diff_drive_controller).

[2020-01-14 09:06] bmagyar opened #10 "As a robotics developer, I want a smooth joint controller for my robot arms"
## Design requirements

Port over the `joint_trajectory_controller` plugin from [`ros-controls/ros_controllers`](https://github.com/ros-controls/ros_controllers/tree/melodic-devel/joint_trajectory_controller).

Use the existing ROS2 proof of concept version to build upon.

[2020-02-05 23:55] Karsten1987 opened #12 "enable action interface for joint trajectory controller"
as per comment.
At the time of writing the joint trajectory controller, actions weren't a thing in ROS2.

[2020-02-06 13:46] BrightenLee commented on #9
I ported the diff_drive_controller to the ROS2, and I'm using it.
Can I know what will be improved from the previous one?

[2020-02-06 15:38] BrightenLee commented on #9
Hello, I wonder what will be improved from the previous one(diff_drive_controller)
I ported the diff_drive_controller to the ros2, and I'm using it now.
So I am interested in what changes in ros2.

[2020-02-07 12:41] bmagyar commented on #9
Great to hear! Care to share?

On Thu, 6 Feb 2020, 15:38 Brighten Lee, <notifications@github.com> wrote:

[2020-02-08 11:56] brightenlee commented on #9
as

[2020-02-08 12:01] brightenlee commented on #9
Sure, but it's not perfect yet.

[2020-02-08 12:01] brightenlee commented on #9
Sure, but it's not perfect yet.

[2020-02-15 01:08] #2 closed

[2020-02-20 00:17] Karsten1987 opened #21 "wrong namespace set for individual controller packages"
Labeling it as a bug is maybe a bit much, but the namespaces are of each individual ros2 controller should match its package name namespace.
So, e.g. instead of using `ros_controllers` the joint state controller should use `joint_state_controller` as its namespace.

[2020-02-20 00:22] Karsten1987 opened #22 "missing pluginlib xml files for each controller"
With #19 the individual controllers can't be loaded anymore as the according `plugin.xml` file is missing.

@jordan-palacios : How did you test to load the controllers in the controller manager? Maybe I am missing something here.

[2020-02-20 15:12] jordan-palacios commented on #21
Ah my bad, it was my intention to do what you precisely describe here. I even adapted the control access definitions to show the correct namespace.

https://github.com/ros-controls/ros2_controllers/blob/40b858bc26955ae50e6bb88c676a1c4e6f6c99d1/joint_state_controller/include/joint_state_controller/joint_state_controller.hpp#L16

I ended up forgetting to rename the actual namespace name. Will fix!

[2020-02-21 08:13] jordan-palacios commented on #22
Controller loading was validated using the [test_controller](https://github.com/ros-controls/ros2_control/blob/master/controller_manager/test/test_controller/test_controller.hpp).

There are no tests for controller loading of each individual controller though and I missed adding the `plugin.xml` files in #19. I'll fix that and also add loading tests for each controller.

[2020-02-21 14:16] #21 closed

[2020-02-25 09:00] #22 closed

[2020-03-05 06:00] ddengster opened #27 "Tests should no longer use sleep_for"
See https://github.com/ros-controls/ros2_controllers/pull/25#discussion_r386492622
- Find a way to wait for services
- Apply the change over all tests

[2020-03-16 22:47] Karsten1987 commented on #10
Can you list what's missing from the current ROS2 implementation?

[2020-03-19 09:57] ddengster opened #30 "Port over ros_controllers interpolation formulas for joint_trajectory_controller"
As per title. Check the sample function in the Trajectory class.

This [comment](https://github.com/ros-controls/ros_controllers/blob/melodic-devel/joint_trajectory_controller/include/trajectory_interface/quintic_spline_segment.h#L84) should be a good start. I think it also mentions it uses Horner's algorithm somewhere in there. Would be nice if we could avoid introducing another class to handle i

[2020-03-19 09:59] ddengster opened #31 "Port over partial joints functionality for joint_trajectory_controller"
As per title.

[2020-03-26 02:24] ddengster opened #34 "Avoid calling create_wall_timer each new goal, adjust realtime_tools goalhandle accordingly"
https://github.com/ros-controls/ros2_controllers/pull/26
https://github.com/ros-controls/realtime_tools/pull/57

Instead of calling create_wall_timer (which starts a new thread iirc) for each new action goal, runNonRealtime should be decoupled and spinning at action_monitor_rate. And the loop should handle each new goal action goal sent.

[2020-04-26 05:57] bmagyar opened #37 "[joint_trajectory_controller] Implement partial joint list handling"
The `joint_trajectory_controller` currently only accepts a joint trajectory goal if all joints have a defined goal. This is an unnecessary constraint which was already lifted in ROS Kinetic.

[2020-04-29 06:18] bmagyar opened #38 "[joint_trajectory_controller] Tidy up includes"
Ensure that only required includes are there and that they are well organized, alpha sorted.

[2020-04-29 06:57] bmagyar opened #39 "[joint_trajectory_controller] Refactor test cases, smaller scope"
Refactor the test cases such that they clearly convey what the code is testing and what the expectation should be. Always avoid if possible, reusing the context of a previous test for simplicity, this is what a fixture class should be for. Example vaguely resembling what's in the test ATM:

[code]

The problem with this is that the tests can only report "something is wrong with `sample`", we'd sti

[2020-04-29 06:58] bmagyar commented on #39
FYI @Karsten1987 @ddengster

[2020-04-29 07:02] bmagyar opened #40 "[joint_trajectory_controller] Improve clamping code"
`trajectory.cpp`:
[code]
could be written as
[code]
or
[code]

[2020-04-29 07:05] bmagyar opened #41 "[joint_trajectory_controller] Review sharedptr pass by const reference practice"
@Karsten1987 @ddengster take it away ;)

Either way I think we should be consistent in style and currently there's definitely at least one outstanding item. Let's address it.

[2020-04-29 07:06] bmagyar opened #42 "[joint_trajectory_controller] Use `const` a lot more in the code"
A lot of variables could be made `const` that currently aren't.

[2020-05-05 16:03] bmagyar opened #45 "[joint_state_controller] Add publisher with "flexible joint state" message"

[2020-05-05 21:21] destogl commented on #40
IMHO: better to use `std` instead of `boost`

[2020-05-07 13:48] bmagyar commented on #40
Absolutely! I listed boost simply out of my own ignorance on what is currently available on non-Ubuntu platforms

[2020-06-01 08:23] bmagyar opened #46 "Bring diff_drive_controller to master branch"
Plenty of code found here: https://github.com/ros-controls/ros2_controllers/tree/diff-drive

Short todo list:
* [x] Review licenses, AFAIK most of this code originated from PAL, if licenses were skewed by contributors on this branch, you may want to rectify that (and should have all the power to do so)
* [x] Rebase to latest master
* [x] I'd like if we could *actually* review this chunk by chunk,

[2020-06-01 08:25] bmagyar opened #47 "Code coverage for ros2_controllers"
CODECOV_CI secret is already set up, you could follow the example of ros2_control

[2020-06-01 08:28] bmagyar opened #48 "Port over tests for diff_drive_controller from ROS1"
So many and so lovely: https://github.com/ros-controls/ros_controllers/tree/melodic-devel/diff_drive_controller/test

[2020-06-01 08:28] bmagyar opened #49 "Port over tests for joint_trajectory_controller from ROS1"
https://github.com/ros-controls/ros_controllers/tree/melodic-devel/position_controllers/include/position_controllers

[2020-06-01 08:28] bmagyar opened #50 "Implement position_controllers from ROS1"
https://github.com/ros-controls/ros_controllers/tree/melodic-devel/position_controllers/include/position_controllers

[2020-06-01 08:30] bmagyar opened #51 "Implement velocity_controllers from ROS1"
https://github.com/ros-controls/ros_controllers/tree/melodic-devel/velocity_controllers/include/velocity_controllers

[2020-06-01 08:31] bmagyar opened #52 "Implement effort_controllers from ROS1"
May want to think about renaming effort !

https://github.com/ros-controls/ros_controllers/tree/melodic-devel/effort_controllers/include/effort_controllers

[2020-06-03 10:26] ahcorde opened #54 "Calculating the error for other types of joints"
I created an [example for gazebo_ros2_control](https://github.com/ros-simulation/gazebo_ros2_control/pull/2) based on a `prismatic` joint but reviewing the [code](https://github.com/ros-controls/ros2_controllers/blob/7c52becae7cf348a6e32a6cde7bd898ec0c19be4/joint_trajectory_controller/src/joint_trajectory_controller.cpp#L103-L105) I checked that is only going to work for a prismatic joint smaller

[2020-06-03 14:28] bmagyar commented on #54
Coming soon! https://github.com/orgs/ros-controls/projects/4

The issue with prismatic joints exists in ROS1 just the same I think, we haven't yet found anyone with a prismatic joint longer than 3meters so the user-base is relatively small on this one :)

[2020-06-05 08:52] bmagyar opened #58 "Revise for-loop style"
`for (auto i = 0ul; i < goal->trajectory.joint_names.size(); ++i)`

could be written as

`for (std::size_t i = 0; i < goal->trajectory.joint_names.size(); ++i)`
or
`for (size_t i = 0; i < goal->trajectory.joint_names.size(); ++i)`

which avoids using a *typed literal and auto* in favour of the classic *type and type-agnostic literal* which improves readability.

Any takes on this? @v-lopez perhaps

[2020-06-05 08:54] bmagyar commented on #27
@v-lopez do you have an idea for this?

[2020-06-05 08:57] bmagyar opened #59 "Refactor test "mini simulator""
Our integration tests currently have a recurring pattern where the robot hardware read/update/write steps are repeated a couple of times in a loop until a condition is met.

An occurence of this pattern is such:
[code]
To improve readability and reduce duplicated code in the future, this could be factored into a test_common file with a name along the lines of `run_mini_simulation(test_robot, time_

[2020-06-05 09:04] v-lopez commented on #27
I am still at the beginning of the learning process with all this. So not at the moment.
But I can take a look in a couple of weeks when I'm more familiar with ROS2 and ros2_control.

But I totally agree that random sleeps in tests are recipe for flakiness.

[2020-06-05 09:06] v-lopez commented on #58
I'd go with the `size_t i = 0` version.

I can go over the code and look for these. I'm currently working on https://github.com/ros-controls/ros2_controllers/issues/38 and I can take this afterwards.

[2020-06-05 22:57] vasantteja commented on #58
Can I get this is issue assigned to me?

[2020-06-08 09:51] #47 closed

[2020-06-10 07:08] #42 closed

[2020-06-10 08:34] jordan-palacios commented on #39
I'll be working on this.

[2020-06-11 06:10] v-lopez commented on #37
@destogl I was going to start working on this, but @bmagyar mentioned that you may have something for this? Is it something you'd accept contributions to? If not I'll get on another issue

[2020-06-11 10:48] v-lopez commented on #40
All ros2_control packages I've seen are targeting C++14, so I'm not sure we can use `std::clamp`.

But they are not using Boost either, so I'm not sure it's worth adding it just for that.

We can do: `percent = std::min(1.0, std::max(0.0, percent));` but I would not say it is better in any way.

[2020-06-11 14:17] v-lopez commented on #37
@ddengster I was going to start working on this, but @bmagyar mentioned that you may have something for this? Is it something you'd accept contributions to? If not I'll get on another issue

[2020-06-12 02:33] ddengster commented on #37
thanks for the initiative! I don't have any plans for this, but you may want to wait for the joint sorting PR https://github.com/ros-controls/ros2_controllers/pull/53 to get in first.

[2020-06-12 08:15] v-lopez commented on #37
I will wait, thanks @ddengster.
I'm taking the time to think about how it can be done. Could any of you give me your opinion on the outline of the changes to be made below?

A partial joint trajectory implies that the "missing" joints hold their state until the end of the trajectory. (at the moment we're not bridging an existing trajectory into the new one).

I see two options:

1. We don't modify

[2020-06-12 08:58] ddengster commented on #37
As I understand it, the `Trajectory` handles sampling and translates messages into something the controller can sample from.

I'd favor a method where you do all resorting/remapping/partial handling/merging of the received message before sampling `Trajectory` instead of maintaining a mapping in `Trajectory` and invoking it everytime you want to sample the trajectory, hence increasing complexity. S

[2020-06-12 09:04] bmagyar commented on #40
Should we create a header we can copy around that hosts some of these simple helpers? We are already hosting some junk headers (visibility, looking at yous!) so an actual utility would be cool to have there.
A note could be added to this file for each function when they could be replaced (moving to C++17, etc)

[2020-06-12 09:41] jordan-palacios commented on #45
I'll start working on this.

[2020-06-17 14:04] v-lopez commented on #40
Another one for the refactor on diff_drive: https://github.com/ros-controls/ros2_controllers/commit/5bace65938c1bb0541f13810634dae08ca9892b2#diff-2ca4938a2f42b5166cf293e314b92fadR44

[2020-06-17 14:45] v-lopez commented on #40
Related to diff_drive, it is using C++17. So in that one we could actually use std::clamp.

[2020-06-18 10:46] #39 closed

[2020-06-18 15:06] v-lopez commented on #41
Regarding this subject I always suggest following rules [R34, R35 and R36](https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#r34-take-a-shared_ptrwidget-parameter-to-express-that-a-function-is-part-owner)

Which basically means, if you don't need to interact with the ownership of the object, don't pass a smart pointer, pass a reference.

[2020-06-18 18:53] Karsten1987 commented on #41
Can you bring examples where we pass a shared pointer by const ref?
Without precise hints on where you see an inconsistency here, I don't think there's much to "take away" from this issue.

[2020-06-19 12:20] v-lopez commented on #41
On a closer look I haven't found a  lot.

It's true that if you compare with ROS1 code there's signifcantly more shared_ptrs, but I've found a reasoning for them, except a few on tests and this one:
https://github.com/ros-controls/ros2_controllers/blob/master/joint_trajectory_controller/include/joint_trajectory_controller/tolerances.hpp#L98

[2020-06-26 08:53] #45 closed

[2020-06-26 13:22] #38 closed

[2020-06-29 12:08] v-lopez commented on #49
Gonna be updating missing tests here.

### init_joint_trajectory_test missing tests

- [ ] `InitLogicCombine` Combination not implemented yet.
- [ ] `InitValuesCombine` Combination not implemented yet.
- [ ]  `WrappingSpec` Wrapping not implemented yet.
- [ ]  `IgnoreWrappingSpec` Wrapping not implemented yet.
- [ ] `GoalHandleTest` Goal Handle update not implemented yet
- [ ] `OtherTimeBase` Othe

[2020-07-01 13:32] v-lopez commented on #49
https://github.com/ros-controls/ros2_controllers/pull/75 Contains the invalidMessages and topicReplaces tests

Waiting on #68 to go through

[2020-07-07 12:19] v-lopez commented on #49
@bmagyar I have a question regarding: https://github.com/ros-controls/ros_controllers/blob/noetic-devel/joint_trajectory_controller/test/joint_partial_trajectory_controller_test.cpp#L542

If I understand correctly that test, it does the following. Given 3 joints.

Send trajectory with several points: [(0, 0, 0), (1, 2, 3), (2, 4, 6)]
Wait until first waypoint is done, robot joints are at (1, 2, 3)

[2020-07-07 13:41] v-lopez commented on #40
Diff drive is no longer using C++14.

So what do we do? A header somewhere common like `controller_interface`?
I don't like copying any header around.

[2020-07-07 16:17] Karsten1987 commented on #40
can we contribute things like clamp to [rcpputils](https://github.com/ros2/rcpputils/tree/master/include/rcpputils)? We've already have things like `split` in there and a C++14 backport of `std::filesystem`. I believe `std::clamp` could nicely live there as well.

[2020-07-08 13:35] bmagyar commented on #40
Great idea, let's do that!

[2020-07-08 13:54] v-lopez commented on #40
Alright, I'll look into it.

[2020-07-09 14:11] jordan-palacios opened #77 "Implement rqt_joint_trajectory_controller from ROS1"
https://github.com/ros-controls/ros_controllers/tree/melodic-devel/rqt_joint_trajectory_controller

[2020-07-14 16:39] jordan-palacios commented on #50
I'll be working on this.

[2020-07-15 07:17] jordan-palacios opened #78 "Implement forward_command_controller from ROS1"
See https://github.com/ros-controls/ros_controllers/tree/melodic-devel/forward_command_controller/include/forward_command_controller.

This is required by #50, #51 and #52.

Also see https://github.com/ros-controls/ros2_control/issues/124.

[2020-07-16 08:27] rjshim opened #80 "message data type for cmd_vel in diff_drive_controller"
Hi,

From those two files ([diff_drive_controller.hpp](https://github.com/ros-controls/ros2_controllers/blob/master/diff_drive_controller/include/diff_drive_controller/diff_drive_controller.hpp#L51), [diff_drive_controller.cpp](https://github.com/ros-controls/ros2_controllers/blob/master/diff_drive_controller/src/diff_drive_controller.cpp#L395)), you can see that diff_drive_controller is using Twi

[2020-07-16 15:18] bmagyar commented on #80
Switching over is not a problem, however I'd find it pretty strange for the nav stack to drop the header from their command messages. Do you have a reference for this?

[2020-07-17 01:43] rjshim commented on #80
Thanks for your reply.

[This](https://github.com/ros-planning/navigation2/blob/master/nav2_controller/src/nav2_controller.cpp#L109) is for the navigation stack and [this](https://github.com/ros-planning/navigation2/blob/master/nav2_controller/src/nav2_controller.cpp#L352) is for the basic teleop keyboard pacakge by OSRF.

Though I also thought it is a good idea to filter old data like [this](http

[2020-07-17 08:47] bmagyar commented on #80
I see. I think that ignoring the timestamp of a command in a robotic system and expecting it to work reliably is pretty naive. This may work ok within toy examples with the nav stack provided that these messages are all taken care of internally, never leading those nodes. The references you showed already show use of TwistStamped all around it. In any realistic system you'd want those header in my

[2020-07-17 12:23] jordan-palacios commented on #46
Can we close this? diff_drive_controller was merged in #67.

[2020-07-17 12:39] bmagyar commented on #46
Thanks, indeed this was done!

[2020-07-17 12:39] #46 closed

[2020-07-18 07:33] #40 closed

[2020-07-18 09:43] #31 closed

[2020-07-18 09:43] #37 closed

[2020-07-20 05:14] rjshim commented on #80
@bmagyar

Thank you for the comment. :)
I agree. It will be better and more accurate to design the controller as you said. However, compatibility wise, considering the fact that most people use ROS because it is easy to build up their own robot system by simply downloading and running individual packages (ROS [plumbing](https://www.google.com/search?q=ROS+plumbing&source=lnms&tbm=isch&sa=X&ved=2ah

[2020-07-29 08:56] #41 closed

[2020-08-03 07:03] bmagyar commented on #80
Let's see the flip side of this tortilla!

[2020-08-03 07:03] #80 closed

[2020-08-10 19:25] SteveMacenski commented on #80
We can't drop what we never had :rofl:

I support changing ros2_control, nav2, gazebo plugins, turtlebot3 pkgs, robot_localization, etc, etc, etc to `Stamped` but we need to change that API between distributions, not in the middle of one. We can target Galactic, so we should start now with a full list of things we need to update. https://github.com/ros-planning/navigation2/issues/1594 has a couple

[2020-08-11 01:04] rjshim commented on #80
@SteveMacenski Or maybe keeping the current "cmd_vel" topic and adding a new topic called "cmd_vel_stamped" as you said [here](https://github.com/ros-planning/navigation2/issues/1594).

@bmagyar As Foxy is currently the longest LTS version in ROS2, I hope ros2_controller to also support cmd_vel without time stamps. I can add a parameter "use_time_stamp", make minimum changes to the current source

[2020-08-11 02:29] SteveMacenski commented on #80
It better, there's literally nothing else in the ecosystem this will work with for at least 3 years then :stuck_out_tongue:

[2020-08-14 19:00] SteveMacenski opened #82 "Implement Twist controllers (rather than TwistStamped) for mobile robot uses"
Hi,

I see this remap from Twist -> TwistStamped in the header files for using the Stamped version of messages. While I support using Stamped messages long term, right now no other item in the ecosystem will be compatible with this (gazebo, nav2, etc) so we should be supporting Twist right now in Foxy and older. For Galactic and newer, we can target TwistStamped but it would require a coordinated

[2020-08-17 01:36] rjshim commented on #80
@bmagyar

Just a kind reminder. :)

Ryan

[2020-08-18 08:21] #30 closed

[2020-08-18 13:08] v-lopez opened #84 "Port over "update existing trajectory" to joint_trajectory_controller"
As implemented in ROS1 control: https://github.com/ros-controls/ros_controllers/blob/melodic-devel/joint_trajectory_controller/include/joint_trajectory_controller/init_joint_trajectory.h#L149

There's a test implemented in test_trajectory_controller.cpp named `test_execute_partial_traj_in_future` that is disabled right now waiting for this feature.

[2020-08-18 13:11] v-lopez opened #85 "Port over "joint wraparound" to joint_trajectory_controller"
As impemented in [ROS Control 1](https://github.com/ros-controls/ros_controllers/blob/melodic-devel/joint_trajectory_controller/include/joint_trajectory_controller/init_joint_trajectory.h#L161)

I believe https://github.com/ros-controls/ros2_controllers/issues/84 needs to be implemented first or alongside this.

[2020-08-21 09:46] jordan-palacios opened #89 "Refactor controllers to use the new joint handles"
See https://github.com/ros-controls/ros2_control/issues/124.

List of controllers to refactor:
- [x] joint_state_controller
- [x] joint_trajectory_controller
- [x] diff_drive_controller

[2020-08-26 18:40] piraka9011 commented on #82
I'll start looking into the port 👀

[2020-08-27 01:56] rjshim commented on #82
@piraka9011

Thank you very much. Please refer to the comment that I gave on this issue ([link](https://github.com/ros-controls/ros2_controllers/issues/80#issuecomment-671664898)). It will minimize the workload as well as support both message types (Twist and TwistStamped).

Ryan

[2020-08-31 15:49] jordan-palacios commented on #51
I'll be working on this.

[2020-08-31 15:50] jordan-palacios commented on #52
I'll be working on this.

[2020-09-02 08:40] jordan-palacios commented on #50
List of controllers to port:

- [ ] joint_position_controller
- [ ] single_joint_position_controller

[2020-09-04 08:27] youtalk opened #93 "Use smart pointer instead of raw pointer"
Modern C++ is preferred to use smart pointer instead of raw pointer for safer programming. But the current implementation is written using raw pointers e.g.:
- https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/include/hardware_interface/handle.hpp#L73
- https://github.com/ros-controls/ros2_control/blob/master/hardware_interface/include/hardware_interface/robot_hardware.hp

[2020-09-04 08:29] gavanderhoorn commented on #93
It may be worthwhile to also investigate whether passing pointers at all is necessary/desirable.

Afaik, pointers (smart or not) should only be passed if resource sharing or transfer of ownership is the intent. If there is no such intent, perhaps a plain (`const`) reference would actually be better.

[2020-09-09 07:13] bmagyar opened #95 "Forward command controllers safety timeout"
A typical issue of forward velocity and forward effort controllers is that there's currently no way to tell when a message has been received and deduct whether the last received message should still be active.

This limitation is reinforced by the Float64 topic interface. Using a stamped message it could easily be detected whether a command has gone stale.

Tagging @dignakov for interest and @oliv

[2020-09-15 07:29] bmagyar opened #96 "Better way of skipping command interfaces in joint_state_controller"
_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/90#discussion_r486626815_

[2020-09-15 07:30] #89 closed

[2020-09-29 07:54] #78 closed

[2020-10-06 07:08] bmagyar opened #100 "Higher level integration tests for forward command controller derivatives"
_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_controllers/pull/92#discussion_r499214503_

[2020-10-06 07:12] #50 closed

[2020-10-15 06:43] #51 closed

[2020-10-15 07:22] #52 closed

[2020-11-16 07:00] destogl opened #110 "Can we rename joint_state_controller"
I propose to remove "_controller" suffix from non-controllers.
This will first and foremost influence the 'joint_state_controller', and than also the others, e.g. 'force_torque_sensor_controller'

The simplest proposal is to use word 'publisher' instead of 'controller':

'joint_state_publisher'
'force_torque_publisher'

Or ideas:
* 'observer' (also used in control theory)
* 'reporter'

What do you

[2020-11-16 07:37] bmagyar commented on #110
Absolutely! This was something that we were planning to do. Originally I even thought about a new "PublisherInterface" that'd only allow grabbing state interfaces, never command ones.

[2020-11-16 08:28] destogl commented on #110
This sounds interesting! Good idea!
We should probably rename it just after #109 is merged, and dann add an interface in the follow-up.

[2020-11-16 16:20] gavanderhoorn commented on #110
@destogl wrote:

renaming :+1:, but `joint_state_publisher` is an exiting node, and seeing as we already have quite some confused people when it comes to `joint_state_publisher` and `joint_state_controller` right now (see [#q303358](https://answers.ros.org/question/303358) on ROS Answers fi), it might be good *not* to use `joint_state_publisher` for something in `ros_control`.

[2020-11-18 18:33] olivier-stasse commented on #110
I think a lot of group have think which are state estimator and which are usually in the controller graph.
They are not simply sensor, but from the control viewpoint they are observer.

[2020-11-30 07:48] bmagyar opened #113 "[refactor tests] Use common test URDF from descriptions.hpp"
Once https://github.com/ros-controls/ros2_control/pull/247 or equivalent is merged, replace duplicated URDFs used in tests here.

[2020-11-30 08:11] destogl opened #114 "Move interface sorting into ControllerInterface"
We can leave this here for now, but it should be moved into `ControllerInterface`

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/99#discussion_r532399165_

[2020-11-30 08:12] destogl opened #115 "Move `descripion.hpp` into `test_robot_hardware` package and update all controllers"
should be moved into `test_robot_hardware` package.
will be done in follow up PR.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/99#discussion_r532403096_

[2020-11-30 08:18] destogl opened #116 "Update documentation for order of `command_interfaces_`"
_Originally posted by @v-lopez in https://github.com/ros-controls/ros2_controllers/pull/99#discussion_r532390821_

[2020-11-30 08:25] bmagyar commented on #115
Superseded by #113

[2020-11-30 08:25] #115 closed

[2020-11-30 13:28] destogl commented on #115
Oh Sorry!

[2020-12-01 21:18] bmagyar opened #118 "Why are those tests commented out?"
Why are those tests commented out?

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/112#discussion_r531689839_

[2020-12-01 22:48] bmagyar opened #119 "Let's restore the CI (again)"
@destogl @v-lopez I managed to update things to the right version so that linters don't fail anymore but we have the boost::shared_ptr pluginlib issue again even though I have the flags set... Have they changed in foxy?

[2020-12-01 23:17] bmagyar opened #120 "Move position/velocity/effort_controllers to CM"
Do the migration we did on #99, #112 , #109 , since they inherit most of the stuff, it should be straightforward, just fix the value of "interface_name" to make it stick to a single type.

[2020-12-01 23:18] bmagyar opened #121 "Move diff_drive_controller to ResourceManager"
Do the migration we did on #99, #112 , #109.

[2020-12-02 08:22] v-lopez commented on #119
I'm not aware of the issue. What is it about?

[2020-12-02 09:07] bmagyar commented on #119
Note the non-CI changes here: https://github.com/ros-controls/ros2_controllers/pull/104

The error reported by the CI is
[code]

I'm pretty sure the fix is something trivial but it's a needle in a haystack for me ATM :D

[2020-12-02 09:08] gavanderhoorn commented on #119
Is `boost` listed as a build dependency?

[2020-12-02 09:18] bmagyar commented on #119
We don't have boost and have explicit flags for pluginlib to not try using boost.

[2020-12-02 09:20] gavanderhoorn commented on #119
Yeah, I figured. It was a stupid comment to post.

[2020-12-02 16:01] destogl commented on #119
You have to have the variable set also in all packages which use pluginlib (directly or indirectly).

This means all controller will probably have to have this...

[2020-12-17 07:45] livanov93 opened #129 "Redeclaration of joint trajectory controller parameters"
While testing joint trajectory controller I have encountered an error regarding redeclaration of parameters.
I think it is done twice, in[ controller interface](https://github.com/ros-controls/ros2_control/blob/ec8b0066685ce24ce28eaf439b0b353207bb6bb1/controller_interface/src/controller_interface.cpp#L27) (base class) and in [joint trajectory controller itself](https://github.com/ros-controls/ros2

[2020-12-17 08:47] bmagyar commented on #129
Can you give me steps to reproduce please?

[2020-12-17 09:11] livanov93 commented on #129
[code]

[2020-12-19 09:02] bmagyar commented on #129
I am working through the release ATM but will get back to you on this once I tried.
I realized we may also have issues when unloading and re-loading the same controller with the same error that I think we can solve with a combination of `undeclare_parameter()` + `get_parameters(names)` in the right spot.

![terminator-will-be-back](https://media4.giphy.com/media/LFEjnqmVmbKk8/giphy.gif)

[2020-12-23 20:07] bmagyar opened #132 "Flaky joint_trajectory_controller test"
It causes sporadic failures on the CI

[code]

[2020-12-24 06:40] bmagyar commented on #129
@livanov93 could you please check this & close the issue if it has been resolved?

[2020-12-24 06:41] bmagyar commented on #119
Resolved by #122

[2020-12-24 06:41] #119 closed

[2020-12-30 11:12] livanov93 commented on #129
Solved with [276](https://github.com/ros-controls/ros2_control/pull/276)

[2020-12-30 11:12] #129 closed

[2020-12-31 00:45] JaehyunShim opened #134 "Missing header files"
Hi,

Please check out the following [link](https://github.com/ros-controls/ros2_controllers/blob/master/diff_drive_controller/src/diff_drive_controller.cpp#L26).
Line 26, 27 do not exist in the ros2_control repository. Where are they coming from?

Jaehyun

[2020-12-31 11:22] Jarijaas opened #135 "[joint_trajectory_controller] Implement [vel, acc, effort] controller variants"
Tl;dr:  Port Joint Trajectory Controller variants from the ROS1: [joint_trajectory_controller.cpp](https://github.com/ros-controls/ros_controllers/blob/1a085c37d212d1b52f44b8b1ebb6167cef90cc65/joint_trajectory_controller/src/joint_trajectory_controller.cpp#L36-L89)

---

Hey,

So I have been testing this controller with my robot. When I set `time_from_start: { sec: 5, nanosec: 0 } }`, traversing t

[2021-01-01 17:04] destogl commented on #134
Hi @JaehyunShim,

they are not coming from anywhere. The diff controller is currently not functioning and it is not build (it has COLCON_IGNORE) file in it.
#128 should "revive" diff drive controller

[2021-01-01 17:13] destogl commented on #135
Hi @Jarijaas,

this depends on the used hardware (robot). probably your robot is trying to drive maximal velocity (shortest time) between two positions. The current implementation of `joint_trajectory_controller` enables only position interface toward hardware ([see line#83](https://github.com/ros-controls/ros2_controllers/blob/b0e3d198667d885f8a0fbd46c02a247ffdeb85fb/joint_trajectory_controller/s

[2021-01-02 09:15] bmagyar commented on #134
I've just merged the diff drive,you can use the master branch but as Denis said previously, please look first before asking.

[2021-01-02 09:15] #134 closed

[2021-01-02 19:02] #120 closed

[2021-01-02 19:02] bmagyar commented on #120
REsolved by #133

[2021-01-02 19:03] bmagyar commented on #121
Resolved by #128

[2021-01-02 19:03] #121 closed

[2021-01-02 19:03] #12 closed

[2021-01-02 19:04] #9 closed

[2021-01-02 19:04] #10 closed

[2021-01-03 15:54] Jarijaas commented on #135
Hey @destogl,

My hardware interface is based on the [demo](https://github.com/ros-controls/ros2_control_demos/tree/master/ros2_control_demo_hardware), I added velocity interface to it, and I use it to control dynamixel servos.

I would expect that the `joint_trajectory_controller` should support setting the desired velocity value for the joints using the hardware interface.  I'm probably going to

[2021-01-03 16:34] gavanderhoorn commented on #135
@destogl wrote:

actually, there are 5 variants of the JTC, supporting position, velocity, effort, position & velocity and position, velocity & acceleration interfaces. See [joint_trajectory_controller.cpp](https://github.com/ros-controls/ros_controllers/blob/1a085c37d212d1b52f44b8b1ebb6167cef90cc65/joint_trajectory_controller/src/joint_trajectory_controller.cpp#L36-L89).

I believe @Jarijaas' que

[2021-01-04 11:18] destogl opened #136 "Avoid JointTrajectoryController (ros2_control_node) crashing when integer instead of double is set"
If yaml file defines:
[code]
The parameter is set as Integer and the controller crashes with the error:
[code]
The code can be found [here](https://github.com/ros-controls/ros2_controllers/blob/14733fee2ebf6cea03662cd7a5247bd492141082/joint_trajectory_controller/src/joint_trajectory_controller.cpp#L295)

This really shouldn't happen... Is auto-casing from Integer to double sensible strategy?

[2021-01-05 16:33] destogl commented on #135
@gavanderhoorn thanks for pointing this. We should than extend this.

@Jarijaas would you try to port this from ROS1?

We can look at this, but it will take some time to get to it...

[2021-01-08 12:38] Jarijaas commented on #135
@destogl I don't have time to do it in the near future either.

[2021-01-16 08:37] bmagyar opened #141 "Update linting jobs to use Foxy"
https://github.com/ros-controls/ros2_control/pull/292#issuecomment-761053530

follow what was done on the PR referenced above

[2021-01-22 16:21] SyllogismRXS commented on #77
What is the progress on this? I can implement this is no one else has the time.

[2021-01-22 18:06] bmagyar commented on #77
That would be very much appreciated!

[2021-02-06 10:46] olivier-stasse opened #147 "speed_limiter is not compiling on macOS Catalina"
I got the following compiling error on macOS Catalina:
`
diff_drive_controller/src/speed_limiter.cpp:63:9: error: no member named 'isnan' in namespace 'std'; did you mean simply 'isnan'?
    if (std::isnan(min_jerk_)) {
        ^~~~~~~~~~
        isnan
`
The reason is a missing `cmath` in the set of inclusion.

`math.h` is included is speed_limiter.hh

But according to cppreference the header is c

[2021-02-07 16:57] #147 closed

[2021-02-10 22:39] livanov93 opened #149 "Joint trajectory controller detailed parameters don't exist on param server"
As stated [here](https://github.com/PickNikRobotics/Universal_Robots_ROS2_Driver/issues/36) and [here](https://github.com/PickNikRobotics/Universal_Robots_ROS2_Driver/issues/36) parameters for checking the error through trajectory and on the goal position are not propagated on the parameter server.
We also had problems with checking the errors on the last trajectory point - the problem occurs [her

[2021-02-16 11:08] destogl commented on #149
@livanov93 Can you explain a bit more about your test-setup and what is expected behavior and what is the issue?

[2021-02-16 20:08] livanov93 commented on #149
While testing joint_trajectory_controller on  the real hardware I was getting the `Aborted due to goal tolerance violation` error. Afterwards, decided to add parameter per joint to increase goal tolerance:

The paramaters were defined in the following manner:
[code]

This did not help at all but the worse thing is that parameter were not on the parameter server:
There were only the following param

[2021-02-17 11:20] MGBla commented on #149
As it seems in ros2 contrary to ros1 parameters are only available if they were declared within a node https://github.com/ros-controls/ros2_controllers/blob/a80ce8d2b9a22fa83978976bc4257ede70dbc810/joint_trajectory_controller/src/joint_trajectory_controller.cpp#L65-L71
So the mechanic described here  https://github.com/ros-controls/ros2_controllers/blob/a80ce8d2b9a22fa83978976bc4257ede70dbc810/joi

[2021-02-23 21:50] destogl opened #150 "Enable schronized execution of trajector, gripper movements and GPIOs activation"
It is interesting to synchronize the robot's GPIOs and gripper with the trajectory execution for many industrial scenarios. When the latter is possible doable with JointTrajectoryController, the use-case with GPIOs message and controller extension is needed.

It would be good to have examples of both use-cases.

[2021-02-25 10:55] destogl opened #151 "Use methods in all controller in the same order (Let's make controller development a joy)"
Hi,

Working on an extension of JTC (#140), it's very disturbing (or at least disconcerting) not having unified members/methods order between the different controllers and the controller_interface. The issue I have is jumping between different states of the controller and having to check all the time at which lifecycle state controller is, i.e., which members are filled and which not...

I propose

[2021-03-03 14:28] destogl commented on #151
I propose the following order:

- constructor
- init
- configure()
- command_interface_configuration()
- state_interface_configuration()
- activate
- update
- deactivate
- cleanup
- shutdown

[2021-03-07 09:13] bailaC opened #153 "Not able to load forward_command_controller"
Hey All,

While running `ros2 control load_configure_controller forward_command_controller`, getting below error,

Any help here? I am raising this as issue because it seems some bug in the code. Honestly I couldn't find any!!

[2021-03-09 17:41] bostoncleek opened #155 "Port GripperCommand action server to ROS2"
The gripper command action server would be very useful in Moveit2 if it were ported to ROS2.

@livanov93 @destogl

[2021-03-09 20:51] destogl commented on #155
For the reference see [here](https://github.com/ros-controls/ros_controllers/tree/melodic-devel/gripper_action_controller)

[2021-03-16 09:22] bmagyar opened #157 "Create alternative to std_msgs/Float64MultiArray in ForwardCommandController & family"
# Problem:
std_msgs/Float64MultiArray is deprecated.

[code]

https://github.com/ros2/common_interfaces/blob/foxy/std_msgs/msg/Float64MultiArray.msg

# Proposal:
Create (an) alternative in `control_msgs`. This could be a set of messages with a single joint interface type, one supporting multiples, or one message that has a field for the joint interface type and one that is fully dynamic --- (dynam

[2021-03-16 09:27] gavanderhoorn commented on #157
yeah, this really should have been given some more attention.

See [SOSS: a whole new approach to your ROS 1-ROS 2 bridge!](https://discourse.ros.org/t/soss-a-whole-new-approach-to-your-ros-1-ros-2-bridge/17040/8) where this was casually dropped in an off-topic discussion. "It's in the release notes, we can't do anything more" (which is true, it's mentioned in [the notes](https://docs.ros.org/en/f

[2021-03-22 09:44] bmagyar commented on #157
Agreed. I don't think I've ever read the release notes of a ros distro 😓

[2021-03-22 14:56] destogl commented on #157
Yeah, I also had no idea, and although I looked at this message a few times, I didn't read its header. Actually, a ROS newcomer I was helping pointed me into this...

This should be a massive topic on ROS discourse...

[2021-03-22 14:58] gavanderhoorn commented on #157
Feel free to bring it up again.

I've directly asked for an announcement. The response was:

[2021-03-24 18:45] destogl commented on #110
In the discussion in the [WG Meeting on 24th March 2021](https://docs.google.com/document/d/1818AoYucI2z82awL_-8sAA5pMCV_g_wXCJiM6SQmhSQ/edit#heading=h.58xl8zrocn7x) it is decided to go with **broadcaster**

[2021-03-25 07:56] #141 closed

[2021-03-25 08:21] bmagyar opened #158 "Create joint_state_broadcaster to replace joint_state_controller"
We've recently decided to suffix all not-really-controllers (joint_state_controller, force_torque_controller, etc from ROS1) with *broadcaster* to follow the nomenclature of tf and to avoid name clashes with publishers (ROS) and observers (control theory).

Task is considered complete when
* there's a new package `joint_state_broadcaster`, with all references to `joint_state_controller` gone
* the

[2021-03-25 08:25] bmagyar commented on #110
Closing this one, opened a task for this

[2021-03-25 08:25] #110 closed

[2021-03-25 23:28] matthew-reynolds commented on #158
I don't have permissions in this repo to self-assign, but I will take this on.

[2021-03-27 15:43] destogl opened #159 "[joint_state_controller/broadcaster] "Resorted" joint_names compared to URDF/xacro file"
I just got reported that the `joint_state_controller` has `resorted` joint_names compared to the `ros2_control`-tag defined in the URDF file. They could be confusing and we should "debug" this if possible.

For this, I propose the following procedure:

1. Start an example 6D robot to test this:
    1. Checkout [`ros2_control_demos` repository `6Dbot-example-for-tests`](https://github.com/ros-contr

[2021-03-29 21:12] Schulze18 opened #163 "How to setup diff_drive_controller?"
Hello everyone, congratulations on the amazing work with ROS1 and ROS2 control.

We are migrating our robot to ROS2 . For a first test, I am trying to use diff_drive_controller from ROS2 Control at Gazebo. I setup the ros2_control tags and the gazebo_ros2_control plugin the same way presented in the [ros2_control_demos](https://github.com/ros-controls/ros2_control_demos). It worked fine for positi

[2021-03-30 11:14] bmagyar commented on #163
I did not spot anything wrong on the first look at these files.
Have you tried this demo implementation? https://github.com/ros-controls/ros2_control_demos/pull/70/files

[2021-03-30 13:08] bailaC commented on #159
I think, you are pointing at,

[code]
I will take a look at this. Please feel free to assign me this issue.

[2021-03-30 13:14] gavanderhoorn commented on #159
@destogl wrote:

why?

This has been discussed in the past, and it makes everything much more robust if nodes/controllers/plugins/whatever don't/can't assume a certain order.

There are so many producers and consumers of (fi) `JointState` and similar messages that enforcing a certain order will be impossible, and different languages may have different sorting orders for maps/dictionaries/lists/ass

[2021-03-30 13:49] Schulze18 commented on #163
Thank you, I have not found this PR. I launch it, and it seems to be running, but there is no topic publishing/subscribing to any command. I was able to adapt it to my robot, but the same behavior occurred.

In the codes that I sent, I think the problem is the interaction with the hardware plugin gazebo_ros2_control/GazeboSystem. Is this one the right plugin to use with diff_drive_controller? Or m

[2021-03-31 16:59] bailaC commented on #159
@destogl , please find the observation below,

While listing the hardware interfaces, printing the interface names at [this line](https://github.com/ros-controls/ros2_control/blob/8dfd5876c87f839fc092a08797410ee06f01fde4/hardware_interface/src/fake_components/generic_system.cpp#L60)
File : /ros2_control/hardware_interface/src/fake_components/generic_system.cpp

[code]
So, it is clear that in gener

[2021-04-02 07:52] destogl commented on #132
@matthew-reynolds could you look at this? You resolved a similar issue in ros_control repo

[2021-04-02 20:31] destogl commented on #159
@bailaC can you also check this in the assigned interfaces method? See the first comment, point Nr. 3

[2021-04-03 13:30] bailaC commented on #159
Yes, sure, I missed that.

[2021-04-05 15:24] bailaC commented on #159
Collecting the output from both `command_interfaces_` and `state_interfaces_` from [here](https://github.com/ros-controls/ros2_control/blob/8dfd5876c87f839fc092a08797410ee06f01fde4/controller_interface/src/controller_interface.cpp#L135)

[code]
Everything is at one place now.

[2021-04-07 06:50] destogl opened #166 "[JointTrajectoryController] Avoid potential race conditions"
Check the following comment by @matthew-renolds

I think this needs further work, probably in a follow-up PR.

In both the old and new code, I worry that we might end up in a condition where we're overwriting the `goal_handle_timer_` while the previous `rt_active_goal_` has pending operations, and thus dropping those operations. I think we should call `goal_handle_timer_::execute_callback()` or `r

[2021-04-07 06:55] destogl commented on #166
@matthew-reynolds  your solution sounds plausible. It seems we are resetting the `rt_active_goal_` from multiple threads. This is not good.

[2021-04-07 12:43] matthew-reynolds commented on #166
@destogl Thanks for opening an issue to track this. Can you assign me to it? I'll get started on it.

[2021-04-07 13:18] destogl commented on #159
Can you make print also with "interface.get_name() + interface.get_interface_name()"

[2021-04-08 10:10] bmagyar commented on #159
Heads up: I've just merged `joint_state_broadcaster`, please rebase if you have code depending on `joint_state_controller`.

[2021-04-08 13:43] matthew-reynolds opened #168 "Lock-free Write to Buffer"
A long-standing shortcoming in the realtime_tools::RealtimeBuffer is an inability to provide lock-free writes from the RT context. (See https://github.com/ros-controls/realtime_tools/issues/14).

The `joint_trajectory_controller` in particular is currently using `writeFromNonRT()` within the RT loop due to this limitation. Either through an upstream change (maybe https://github.com/ros-controls/re

[2021-04-17 04:03] AndyZe opened #170 "Joint Trajectory Controller /state topic is not namespaced"
Printing the info on my `/joint_trajectory_controller` shows this:

[code]

Note, the `/state` topic is not namespaced. I think it should be in case you have 2 arms, for example

[2021-04-18 16:50] destogl opened #171 "[JTC] Implement `velocity` and `effort` versions of JointTrajectoryController"
#140 implements a generic JointTrajectoryController supporting joint, velocity, and acceleration interfaces and their combinations.

For the brevity of PR, pure `velocity` or `effort` controllers are not implemented. Their commands are generated using the desired state and state error using a velocity feedforward term plus a corrective PID term (see ROS1 implementation).
Usage of this term can be

[2021-04-21 08:45] destogl opened #172 "[JointTrajectoryController] Revive angle_wraparound option"
In the current implementation, there is no possibility to wraparound joint angles. Add this functionality from ROS1 version of the controller. Start at [this line](https://github.com/ros-controls/ros_controllers/blob/a075bc36ebf5b81a7dafe911907cc1b781dd0185/joint_trajectory_controller/include/joint_trajectory_controller/joint_trajectory_controller_impl.h#L269).

[2021-05-05 08:11] bmagyar opened #180 "[joint_state_broadcaster] Fix warning from buildfarm"
[code]
https://build.ros2.org/job/Fdev__ros2_controllers__ubuntu_focal_amd64/20/gcc/new/

[2021-05-13 10:02] roboticsai opened #182 "controller manager spawner.py bug"
After i run the command:
ros2 launch ros2_control_demo_robot diffbot_system.launch.py
i'm getting the errors:
`format [py]: __init__() got an unexpected keyword argument 'parameter'
`As i debugged the source code. The bug is comming form this line:

[code]
from given launch file.
When i change the parameter to the arguments it works fine but still got the warnnis that controller_manager is not ava

[2021-05-13 15:28] Karsten1987 commented on #182
Please refrain from opening the same issue across multiple repositories. Closing as duplicate of https://github.com/ros-controls/ros2_control_demos/issues/93

[2021-05-13 15:28] #182 closed

[2021-05-15 20:52] destogl opened #183 "[JointTrajectoryController] Reconsider memory operation in the Starting, Update and Stoping methods"
As @jordan-palacios wrote: current implementation of JTC is not real-time safe. The memory operations, i.e. vector manipulations and resizing has to be reconsidered. See below his comment:

I know this is not strictly related to this PR, but we can't be resizing vectors on every loop. This is not real-time safe.

@bmagyar Maybe we should open a follow up PR?

_Originally posted by @jordan-palacios

[2021-05-15 21:44] destogl opened #184 "[JointTrajectoryController] Update documentation"

[2021-05-18 23:51] matthew-reynolds commented on #158
I think this can be closed

[2021-05-21 20:20] #170 closed

[2021-05-25 12:11] henningkayser opened #188 "Release for Galactic and Rolling"
What's the status on releasing `ros2_controllers` for Galactic or Rolling?
We are planning to [release MoveIt](https://github.com/ros-planning/moveit2/issues/476) for both distros end of June and it would be great if this dependency would be available by then.

[2021-05-30 09:29] destogl opened #191 "Few toughts on simplifying controllers (JTC, admittance,...) that use position, velocity and acceleration interfaces (and combinations of those)"
There is a quite a bunch of same code and logic needed in those controllers.
We could add an abstraction layer to it.
Here is a short proposal on this:

- Adding `KinematicsControllerBase` abstraction layer and header-file-only class taking care about:
  - available interfaces and their management from configure method (e.g. [this part of JTC](https://github.com/ros-controls/ros2_controllers/blob/

[2021-05-31 12:10] #155 closed

[2021-06-02 00:38] Karsten1987 opened #193 "Enable gripper_controllers on OSX"
`experimental/optional` is not well supported on OSX and thus the complete package is disabled on OSX.
Ticket for tracking a workaround solution to enable the compilation on OSX.

relates to https://github.com/ros-controls/ros2_controllers/pull/192

[2021-06-04 06:56] Timple opened #194 "Request: ackermann_steering_controller"
Feature request: Ackermann steering controller

It seems it was available in [ros1](https://github.com/ros-controls/ros_controllers/tree/noetic-devel/ackermann_steering_controller). However the implementation seemed [off](https://github.com/ros-controls/ros_controllers/issues/412).

Also support for front-wheel drive seems to be [missing](https://github.com/ros-controls/ros_controllers/blob/a075bc

[2021-06-08 08:08] Timple commented on #188
Did you test this from source already with MoveIt?

I ran into some issues and I'm wondering if you encountered similar ones: https://github.com/ros-controls/ros2_controllers/pull/199

[2021-06-10 05:58] olivier-stasse opened #201 "Wrap around time problem with diff_driver_controller."
Analysis:
=======
Working on ros2_controller_demo I happened to have systematically the following exception:
`[ros2_control_node-1] ros2_control_node: /opt/ros/foxy/include/rcppmath/clamp.hpp:41: constexpr const T& rcppmath::clamp(const T&, const T&, const T&) [with T = double]: Assertion !(hi < lo)' failed.`  see related issue [here](https://github.com/ros-controls/ros2_control_demos/issues/99)
T

[2021-06-14 21:32] vatanaksoytezer commented on #188
@Timple sorry, just saw your message. We've been using ros2_controllers in Rolling and Galactic. We've also set up a new CI for moveit2 build that tests Galactic and Rolling. See https://github.com/ros-planning/moveit2/pull/494. ros-controls people helped us merge a couple of PRs to enable Rolling and Galactic source builds already. If you can share what issues you are facing, I would be glad to h

[2021-06-15 06:40] Timple commented on #188
The issues I'm facing are with the `diff_drive_controller`. Probably not in use for moveit :slightly_smiling_face:
But I already solved them in #199

[2021-06-15 09:28] Timple commented on #194
I'm rather new to `ros2_control` and this requires several interfaces on velocity and position level.

If somebody is willing to give a head-start by providing the cpp/hpp dummy classes, I'm happy to finish the work with all logic/algorithms involved!

[2021-06-15 13:58] korosava opened #203 "joint_state_broadcaster build failed"
It's similar to this [issue](https://github.com/ros-planning/moveit2/issues/462), except c++-8 replaced with c++7 here. I hope this info will be helpfull for debugging.

commits, that works for me:
[code]

last commits (that fails to build):
[code]

Used build instructions:
[code]
Result:
[code]

[2021-06-15 19:00] bmagyar commented on #203
The package builds fine on our various CI builds and the ros build farm. The problem is likely your setup. I suggest installing binaries for foxy,saves you a lot of time.

[2021-06-15 19:02] bmagyar commented on #194
I think the work here would be porting the existing controller to ros2. The tests are where a lot of complexity lies but good news is that they are basically copies of the diff drive tests. Bad news is that we never got around to porting "the good stuff" when it comes to tests.

[2021-06-15 20:07] korosava commented on #203
There is only [source build instructions](https://moveit.ros.org/install-moveit2/source/) for moveit2, where are the binaries?
I used g++ 7.5 and cmake 3.19.2 for building.

[2021-06-15 20:40] bmagyar commented on #203
I believe I have the default installation

[code]
and
[code]
for binaries follow the ROS2 Foxy guide:
https://index.ros.org/doc/ros2/Installation/Foxy/Linux-Install-Binary

[2021-06-16 12:23] korosava commented on #203
Problem was gcc, g++ version, all works good with 9.3.0

[2021-06-16 12:23] #203 closed

[2021-06-26 17:11] destogl commented on #132
The tests are still flaky (see #154 builds). But I found out why! We have timing issues. Probably is the runner CPU on maximal load and therefore limits/thresholds are not hold each time. For now, I adjusted the threshold a bit, but this is not a long-term solution. I added comments about that in the test file: https://github.com/ros-controls/ros2_controllers/blob/b89f5054a643d63c608186ffa42dd02c0

[2021-06-28 23:38] shonigmann commented on #153
Perhaps a bit late for you @bailaC, but for anyone new I have seen this issue pop up when there is an inconsistency in the naming between the .yaml config file used to start the controller_manager (e.g. [here](https://github.com/ros-controls/ros2_control_demos/blob/bf32f38d4d3dca02bde7d46ac15af51fe4870c66/ros2_control_demo_bringup/config/rrbot_multi_interface_forward_controllers.yaml#L5-L21)) and

[2021-06-28 23:43] shonigmann commented on #172
also in #85 ?

[2021-06-29 04:47] bailaC commented on #153
Thanks a lot @shonigmann for the explanation. This problem was fixed long back. And you said correctly that we should be careful about the name we use in .yaml config and the same must be used while starting the controller.

e.g. if anyone has something like below in .yaml file,
[code]

the controller must be started with the name `my_fancy_controller`, not `forward_command_controller`. And of cou

[2021-06-29 04:47] #153 closed

[2021-07-06 14:23] jonatanolofsson opened #210 "Closed loop diff_drive_controller"
In gazebo, with varying friction parameters et.c., I can't for the life of me get a consistent behavior of the configuration of the diff_drive_controller. In fact, I struggle to get consistency between 1) reported wheel odometry 2) IMU measurements 3) Turn radius calculations from desired linear and angular rates.

The problems seem to come down to that the actual wheel speed is inconsistent with

[2021-07-06 16:03] shonigmann commented on #210
Another potential source of discrepancy, beyond using open-loop commands, is that gazebo_ros2_control's position and velocity interfaces act as [perfect command followers](https://github.com/ros-simulation/gazebo_ros2_control/blob/956e7706338fd4fd1a2ef733ad54740d07e9a67a/gazebo_ros2_control/src/gazebo_system.cpp#L303-L310), with infinite accelerations and discontinuous behavior (e.g. if you set a

[2021-07-06 18:05] shonigmann opened #212 "Undeclared parameters not available to controllers, despite `allow_undeclared_parameters(true)`"
Controllers do not seem to have access to undeclared parameters like I would expect them to. All of the ros2_controllers I have looked at [extend ros2_control's controller_interface.cpp](https://github.com/ros-controls/ros2_controllers/blob/b3300d6c0a9824c064e7d0b9f3dcf3a6ae45574b/forward_command_controller/src/forward_command_controller.cpp#L40) which explicitly sets [`allow_undeclared_parameters

[2021-07-07 09:41] jordan-palacios commented on #212
Can you try adding `automatically_declare_parameters_from_overrides(true)` to the `node_options`? I think that should allow you to completely define parameters from yaml files.

[2021-07-07 17:13] shonigmann commented on #212
Thanks @jordan-palacios  - I'd tried that earlier and had moved away due to resultant errors (which I'll include below for reference). Now that I'm a bit more familiar with the code, the errors made more sense and were easily fixable!

For reference to anyone else interested, adding `automatically_declare_parameters_from_overrides(true)` to the `node_options` e.g. in `forward_position_controller.c

[2021-07-07 17:13] #212 closed

[2021-07-09 05:48] Timple commented on #210
Would it be enough if the velocity loops around the wheels where closed?

In that case the diff_drive_controller can remain open-loop again. As then the wheels turn as expected.

[2021-07-09 19:59] destogl commented on #210
I think this is how most people are using it.

[2021-07-12 18:37] destogl opened #214 "JTC Open-loop Control Mode: Should `last_commanded_state_` here be reduced to existing state interface from the hardware? Or is it OK to internally manage more control-states then can be received from hardware?"
Should `last_commanded_state_` here be reduced to existing state interface from the hardware? Or is it OK to internally manage more control-states then can be received from hardware?

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/189#r642045259_

[2021-07-30 18:35] #158 closed

[2021-08-09 12:15] destogl commented on #194
Are you still interested into this? I could find some time to set up initial files and tests.

[2021-08-09 12:45] Timple commented on #194
Yup, this would still be on the 'todo' list.

Altough it also seems that it would just be a subset of this: https://discourse.ros.org/t/independent-swerve-steering-controller-for-ros-control/21534/1

Eitherway having the dummy classes and tests would really help!

[2021-08-11 15:36] schornakj opened #221 "JointGroupPositionController fails to initialize on Rolling due to rclcpp "undeclare_parameter" API change"
There have already been [some fixes to other controllers](https://github.com/ros-controls/ros2_controllers/pull/199) for the rclcpp parameter API changes. Currently (as of 0.4.1) the `JointGroupPositionController` fails to initialize because it tries to undeclare a statically-typed parameter at [these lines](https://github.com/ros-controls/ros2_controllers/blob/6a53981982eeac1822bfca8e9d5e40156870

[2021-08-13 11:06] v-lopez commented on #77
Sorry no progress at all.

[2021-08-13 15:28] tylerjw opened #223 "position_controllers/GripperActionController is in gripper_controllers package?"
This confused me because I'm trying to track down dependencies.  There is a `position_controllers` package but it does not contain the `GripperActionController`, instead that is inside the `gripper_controllers` package but if you look at the XML description of that plugin it is `position_controllers/GripperActionController`.  Would it make sense to change the name of the plugin to `gripper_control

[2021-08-14 08:53] gc-robotics commented on #221
I am facing the same issue.

Exception thrown from the following line:
`    // undeclare interface parameter used in the general forward_command_controller
    get_node()->undeclare_parameter("interface_name");`

[2021-08-14 09:12] gc-robotics commented on #221
Have just seen the PR. Will wait for the approval. Thanks @schornakj .

[2021-08-15 20:50] destogl commented on #223
I agree with you. We missed this when porting to ROS2. @bmagyar, @Karsten1987 what do you think?

[2021-08-17 15:22] bmagyar commented on #223
Not a problem for me

[2021-08-20 10:49] #221 closed

[2021-08-26 13:33] roncapat opened #229 "diff_drive_controller shall accept velocity feedback from motors"
At a certain point in ROS1 implementation, `estimate_velocity_from_position` parameter switch was inserted, and odometry could also be computed by integration of velocity values coming directly from motors.

In ROS2, this in not an option. Although somewhere it is written that the controller works "through a velocity interface" this is true only for the input chain, not the feedback one.

I propos

[2021-09-06 07:14] bmagyar commented on #229
Yes! I'm quite sad that we never got to port more of the diff drive functionality over to ROS2 as we are still fairly busy with the framework itself. I'd be very happy to review some PRs for this though!

[2021-09-20 20:39] kallaspriit opened #242 "Differential drive acceleration limiting not working properly"
The acceleration limiting feature for differential drive controller does not seem to be working properly.

I added some logging and it seems the acceleration limiting is only applied for one frame. For the next frame, the base `v0` seems to be taken from the command not the limited value so it does not see acceleration any more.

Tested on `foxy` with `linear.x.has_velocity_limits: true` and `line

[2021-09-20 21:16] tylerjw opened #243 "Does not build on galactic."
**Describe the bug**
As ros2_control/ros2_controllers are not released for Galactic the moveit2 CI system depends on source builds of this repo.  The latest changes merged here broke our CI builds for galactic.  This will be helped after ros2_control is released for galactic but in the meantime maybe these repos need galactic CI to pass so they keep building on galactic in the master branch?

**To

[2021-09-24 17:45] bmagyar commented on #243
Unfortunate but we can't be doing braking changes before the release *while* maintaining a full build. We typically try to minimize the window of ros2_control and ros2_controllers being broken together but rest assured, we don't merge anything on ros2_control that would not have the ros2_controllers PR open and ready (if required).

For now, please confirm that the issues are gone and close this?

[2021-09-24 17:46] bmagyar commented on #242
Please add a test that reproduces this issue so we can introduce a fix for it.

[2021-09-24 23:14] tylerjw commented on #243
I tried yesterday and while it did build some behavior changed I haven't figured out so we won't be switching back until I understand how to update our tests.

[2021-09-25 07:27] bmagyar opened #247 "Make resetting RealtimeBuffer easier by introducing a reset() method"
## Background

It turns out, some of our controllers forgot to reset their buffers when deactivating/reactivating!

We've implemented a quick fix for it in https://github.com/ros-controls/ros2_controllers/pull/246 (see the `Files Changed` tab) but it could be improved.

Resetting the buffer currently looks something like this:
[code]
Oh no, that's long and ugly! :scream:

We'd rather like to see
[

[2021-09-26 19:45] bmagyar commented on #243
Here's a candidate: https://github.com/ros2/rviz/pull/746

[2021-09-27 09:45] radekrudak commented on #247
Can reset function take pointer to o ject it belong to as argument ?

[2021-09-28 02:28] ijnek commented on #157
Mentioned in [Discourse Post](https://discourse.ros.org/t/msg-type-for-publishing-jointcommands/22451)

[2021-09-29 23:17] nuclearsandwich opened #248 "[RHEL - build] joint_state_broadcaster in rolling fails to build on rhel targets"
The package joint_state_broadcaster in rolling has been detected as not building on all platforms in the buildfile rhel. The release manager for rolling will consider disabling this build if it continues to fail to build.
- jenkins_urls:
   - [rhel 8 x86_64](https://build.ros2.org/view/Rbin_rhel_el864/job/Rbin_rhel_el864__joint_state_broadcaster__rhel_8_x86_64__binary)
This is being filed because

[2021-09-30 07:04] bmagyar commented on #248
This only affect the Red Hat build, right?

[2021-09-30 17:59] destogl commented on #248
@nuclearsandwich How are you developing other packages for RHEL? Is there a docker, or some GH-Action or something to test this before we trigger release?

[2021-10-07 11:42] livanov93 opened #249 "JointTrajectoryController ignores tolerances sent via action client"
**Would be nice to have**
`JointTrajectoryController` ignores `goal_time_tolerance` set via [FollowJointTrajectory.Goal.goal_time_tolerance](http://docs.ros.org/en/api/control_msgs/html/action/FollowJointTrajectory.html) together with `path_tolerance` and `goal_tolerance` .

**Potential ROS1 inspiration**
Implement something like a ROS1 version [`updateSegmentTolerances`](https://github.com/ros-co

[2021-10-08 07:48] bmagyar opened #250 "Buildfarm issues on Rolling for joint_state_controller"
@nuclearsandwich I keep getting emails from the buildfarm re failed builds of `joint_state_controller`. This package was removed since Galactic, how can we terminate the builds in Rolling for it?

Related links:

https://build.ros2.org/job/Rbin_uF64__joint_state_controller__ubuntu_focal_amd64__binary/26/display/redirect

https://build.ros2.org/job/Rbin_ufv8_uFv8__joint_state_controller__ubuntu_foc

[2021-10-09 20:54] bmagyar commented on #242
We'd really prefer if you could do the fix against the latest master branch using Galactic. I'm happy to backport to Foxy but we prefer not to make "forward porting" a thing :)

Indeed Foxy will receive non-breaking updates from upstream as long as you guys want them and as long as I remember to do them (or you keep reminding me :))

[2021-10-09 22:33] joshnewans commented on #242
Sure thing, I'll do it on master and spin up a galactic docker container for a test to make sure it works.

As far as a proper test goes, that's not something I've got experience with, especially not within the context of ROS controllers - but I guess this is as good an opportunity as any to learn!
If you can point me in the right direction I'll see what I can do. :)

[2021-10-10 00:27] joshnewans opened #251 "Create test for diff_drive_controller motion limits"
Issue #242 revealed a bug with the diff_drive_controller's velocity/acceleration/jerk limit code.

Although a PR has been made to fix this, a test should be created to prevent this in future.

[2021-10-10 05:01] joshnewans opened #253 "Cannot use diff_drive_controller with latest version of gazebo_ros2_control"
### Symptoms
When attempting to use a `diff_drive_controller` with the latest version of `gazebo_ros2_control` (i.e. merging @bmagyar's PRs https://github.com/ros-simulation/gazebo_ros2_control/pull/89 and https://github.com/ros-simulation/gazebo_ros2_control/pull/88), the update function fails with the following error:
[code]

### Immediate Cause
The issue seems to be that since `update()` now ha

[2021-10-12 06:33] bailaC commented on #247
@bmagyar , @destogl you can assign this to me. I will work on this.

[2021-10-12 06:47] Timple commented on #58
If the index is only used to get the element, this:

[code]
Can also be written like the readable:

[code]

[2021-10-13 10:27] NoeelMoeskops opened #255 "Failed to compile diff_drive_controller on Fedora galactic or Foxy"
**Describe the bug**
diff_drive_controller fails to compile on Fedora 34 using either Galactic or Foxy. When trying to compile webots_ros2.

**To Reproduce**
Steps to reproduce the behaviour:
1. boot Fedora 34
2. install ROS Foxy
3. try to compile webots_ros2 (they use ros2_control as dependency)
4. See error

**Expected behaviour**
diff_drive_controller being compiled without error

**Screenshots

[2021-10-15 07:32] bmagyar commented on #250
ping @nuclearsandwich @clalancette

[2021-10-15 07:39] #58 closed

[2021-10-18 14:19] destogl commented on #113
Clarification:

This means that all the controllers' package in the test sould use [this header file](https://github.com/ros-controls/ros2_control/blob/master/ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp) and `minimal_robot_urdf` from it instead of defining their URDFs locally.

[2021-10-20 13:22] bailaC commented on #59
I see the code in 3 files, but they are somewhat modified.

[code]

[code]

[code]

[2021-10-20 21:36] joshnewans commented on #242
Yep, good to close.

[2021-10-21 07:09] kallaspriit commented on #242
Thanks, can we get this in LTS Foxy branch too?

[2021-10-21 19:53] roncapat commented on #229
I searched again the sources of the implementation I mentioned in the opening of this issue. From mobile, didn't found yet the code I swear to have seen at some time in some branch of ros_controllers official repo, but I remember it was something very similar to what can be seen here:
https://github.com/clearpathrobotics/ros_controllers/pull/10

Starting from this code, I think that in the next we

[2021-10-24 13:38] #250 closed, assigned to nobody

[2021-10-29 18:00] kallaspriit opened #262 "Remapping cmd_vel topic"
Hey,

Is there some way to remap the velocity command topic to use `/cmd_vel` instead of `/diff_drive_controller/cmd_vel_unstamped` (or `/diff_drive_controller/cmd_vel` when stamped)?

I'm trying to use the diff drive controller with [Nav2](https://navigation.ros.org/getting_started/index.html) but I can't find a way to either make the diff drive controller to listen to `/cmd_vel` nor make Nav2 pu

[2021-10-30 07:24] bmagyar commented on #248
Thanks guys for the support, we will try to add a rolling RHEL job to our master branches for keeping an eye on it.

For me, @cottsay 's comment re. "non-Ubuntu fixes" is the jackpot. We had issues with Windows and Mac builds but those can only be reproduced sporadically by the few users on those platforms while this actually brings us a reproducible, CI-compatible alternative.

[2021-10-30 13:25] kallaspriit commented on #242
Built the foxy version from source and can confirm it working nicely now on a physical robot :)

[2021-10-30 13:25] #242 closed

[2021-10-31 15:59] kallaspriit commented on #262
When I clone the `ros2_controllers` repo in my workspace and just replace values of `DEFAULT_COMMAND_TOPIC` and `DEFAULT_COMMAND_UNSTAMPED_TOPIC` in `diff_drive_controller.cpp`, everything works as expected.

![Screenshot](https://user-images.githubusercontent.com/277993/139591810-d63a8b5d-0dd1-4e14-b9e1-7c5fda9c7533.png)

But this is not great as I can't just update packages and have to build thi

[2021-10-31 17:49] destogl commented on #262
I don't understand exactly the problem. In your first post, it appears to me that you are remapping topic on the wrong node. Controller's nodes are created from `ros2_control_node` and not from `spawner.py`. The latter is destroyed shortly after controller is started.

I am successfully remapping topic in my applications when doing this on `ros2_control_node`. Can you try this?

Other than that, y

[2021-10-31 18:03] destogl commented on #262
@kallaspriit I extended our examples in ros-controls/ros2_control_demos#143 with topic remapping. Please check `diffbot.launch.py` file and let me know if example is working for you.

[2021-10-31 18:21] kallaspriit commented on #262
Thanks, this works well, indeed tried to do the mapping in the wrong place, this makes sense :)

[2021-10-31 18:21] #262 closed

[2021-11-06 18:18] roncapat commented on #251
I may contribute to this since I'm working on other tests.
Any preferences on the behaviour to test? I mean, a sequence of steps and checks, a numeric input/ expected output example. Otherwise I will try to define a good test on my own in the following weeks :)

[2021-11-06 18:27] roncapat opened #263 "force_torque_sensor_broadcaster tests fail on Galactic Source Job in GitHub Workflows"
I cloned the repository and spawned the "Test ros2_controllers".

[code]

It happens only in the "Source Job" and never in the "Binary Jobs".
If I run the test locally with colcon after cloning the repo on my PC, everything works as expected.

Noticed while working on PR #260.

[2021-11-08 09:21] tomlogan501 commented on #194
+1 for swerve controller and four wheel controller

[2021-11-08 09:28] tomlogan501 opened #264 "Mobile Robotics Controllers (Ackermann, four_wheels, swerve, ...)"
Hi,
I create just this topic to keep track of the transfert of those controllers from ROS1 to ROS2.
We can discuss the main changes and the benefit to do so (new architecture, cyclic, ...)

[2021-11-09 08:06] BenjaminHug8 opened #265 "Timing issue with Joint Trajectory Controller in Github CI with very slow simulations"
**Describe the bug**
We are using `Joint Trajectory` controllers in one of our demos with robotic arms and have a system test to check the functionalities.

Everything works fine on local (`Ubuntu 20.04` with `Foxy` or `Rolling`) but when the test is run on `Github CI` (also Ubuntu with `Foxy` or `Rolling`), 15% of the time it will fail like [here](https://github.com/cyberbotics/webots_ros2/runs/4

[2021-11-10 18:01] AndyZe opened #266 "Print an error if 2 controllers have conflicting command_interfaces when starting"
Right now, if 2 controllers are spawned with conflicting command_interfaces, one of them just dies silently.

[2021-11-10 18:09] AndyZe commented on #266
Oops, I made a launch file error. Please ignore.

[2021-11-10 18:09] #266 closed

[2021-11-15 10:50] BenjaminHug8 commented on #265
Anyone has an idea about my issue?

[2021-11-17 08:14] BenjaminHug8 commented on #265
The issue has been solved on our side by waiting a `JointTrajectoryControllerState` message on the `/state` topic, confirming that the `JointTrajectoryController` is ready to receive goals.

[2021-11-17 08:14] #265 closed

[2021-11-18 08:41] bmagyar commented on #265
Nice! We can probably fix our flaky rostests the same way!

On Wed, 17 Nov 2021, 08:14 Benjamin Hug, ***@***.***> wrote:

[2021-11-18 13:16] destogl opened #270 "[DiffDriveController] Rename "velocity" to "command" or even better "velocity_command""
Current name “velocity” is confusing and ambiguous.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/260#discussion_r752227043_

[2021-11-18 13:17] destogl opened #271 "[DiffDriveController] use "period" argument in the update method insead of calculating "dt""
_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/260#discussion_r752228051_

[2021-11-18 13:22] destogl commented on #263
Yeah this is an annoying issue with our flaky tests. I had it failing on rolling running locally few days ago, but don't have time to debug this right now. This is related to #132

Do you have time or interest to tackle this? I can support you doing that. We can make a call before starting because I tested already quite some options but wasn't able to get the tests stable (running 100 iterations o

[2021-11-18 13:41] bmagyar commented on #247
This can proceed now further, the PR on realtime_tools was merged and released and synched to Foxy, Galactic and Rolling

[2021-11-18 13:49] roncapat commented on #263
This may also be related: https://github.com/ros-controls/ros2_controllers/issues/27
If publisher would allow introspection/access from the test class, we could move the wait logic on the publisher and away from the subscriber.

Otherwise, let me check the PR you referenced when I have a bit more time and I can tell you if in the following weeks I have enought spare time to contribute timely :)

[2021-11-18 19:41] 3mrrrx opened #272 "Support for ros2-galactic, missing base_interface.hpp?"
I might be very new to ros2 but i am trying to get some code running on galactic that was actually meant for foxy.

apparently the code  falling on with this error:

`fatal error: hardware_interface/base_interface.hpp: No such file or directory
   20 | #include <hardware_interface/base_interface.hpp>`

so my question would be if this is just/still a missing library for ros2-galactic or a fundament

[2021-11-18 19:42] 3mrrrx commented on #272
i also noticed this:

these the available libraries in for both galatic and foxy.

`
ros-galactic-dynamic-edt-3d ros-galactic-dynamixel-sdk-custom-interfaces-dbgsym
ros-galactic-dynamic-edt-3d-dbgsym ros-galactic-dynamixel-sdk-dbgsym
ros-galactic-dynamixel-sdk ros-galactic-dynamixel-sdk-examples
ros-galactic-dynamixel-sdk-custom-interfaces ros-galactic-dynamixel-sdk-examples-dbgsym

ros-foxy-dynam

[2021-11-26 09:26] #229 closed

[2021-11-26 09:26] roncapat commented on #229
Closing since #260 got merged.

[2021-11-29 08:20] bmagyar commented on #272
So you are porting some code over to Galactic, nice!
For everything non-trivial, we keep a section in our documentation page to help migrating between ROS2 distros with ros2_control: http://control.ros.org/ros2_control/hardware_interface/doc/hardware_components_userdoc.html?highlight=galactic#migration-from-foxy-to-galactic

For the missing packages... please contact the maintainers of those.
Also

[2021-11-29 08:20] #272 closed

[2021-11-29 09:08] Timple commented on #272
Perhaps this can be listed somewhere more prominently?

From the path:
ros2_control docs -> Core functionalities -> Concepts -> Hardware Components -> Migration from Foxy to Galactic

Are only the first and last element obvious.

[2021-11-29 19:05] jaron-l commented on #248
@cottsay, if you are working to add RHEL support, is OSRF planning on publishing some sort of official ros docker image for a RHEL variant? I wrote my own to use in CI based on the installation instructions but wasn't sure if I need to set up a pipeline to keep it updated or if you already have that somewhere. It's easy for me to do I just wanted to know if it's best put somewhere more public than

[2021-11-30 14:55] BenjaminHug8 opened #274 "Define a publish_rate for the diff_drive_controller"
**Is your feature request related to a problem? Please describe.**
We want to limit the publication of the `/odom` and the `/tf` for the [diff_drive_controller](https://github.com/ros-controls/ros2_controllers/blob/foxy/diff_drive_controller/src/diff_drive_controller.cpp) to a certain rate. This change is for `foxy`, `galactic` and `master` branch.

**Describe the solution you'd like**
Define a `p

[2021-12-02 00:36] cottsay commented on #248
We've discussed it. A non-trivial amount of work in [osrf/docker_templates](https://github.com/osrf/docker_templates) will be necessary, and I'm not sure it's going to land any time soon.

[2021-12-09 13:20] destogl commented on #263
@roncapat did you start to work on this? If not @jaron-l would start looking at this.

[2021-12-09 13:24] roncapat commented on #263
Unfortunately, no time available yet. Happy if someone is going to handle this one :)

[2021-12-09 13:48] destogl commented on #274
@BenjaminHug8 you can implement this :) and we will accept it

[2021-12-13 16:03] BenjaminHug8 commented on #274
As we want this feature for `foxy`, `galactic` and `rolling`, should I target a particular branch (`foxy` or `master` branch) and the feature will be ported to the other branches or should I make a PR for each branch?

[2021-12-14 03:15] harderthan commented on #264
Hello.

I create [ackermann-steering-controller-ros2 repository](https://github.com/harderthan/ackermann-steering-controller-ros2) and implement a migration for ros1 [ackermann_steering_controller](https://github.com/ros-controls/ros_controllers/tree/noetic-devel/ackermann_steering_controller)

I finished only to build the migrated code. I have a todo list below.

#### TODO
- [x] Trouble shooting

[2021-12-14 05:55] Timple commented on #264
Be carefull with 'just' porting from ROS1.
For ROS1 ackermann, the implementation seemed [off](https://github.com/ros-controls/ros_controllers/issues/412).

Also support for front-wheel drive seems to be missing, but that might be a new feature request.

[2021-12-14 08:04] harderthan commented on #264
@Timple  Reallly thank you for the feedback! I didn't know it.

Do you know if there was any discussion about adding an Ackermann controller? I'm not sure how I should contribute. Does it make sense to read and implement all [this design_drafts](https://github.com/ros-controls/roadmap/tree/master/design_drafts)?

And, I couldn't find the information about 'front-wheel drive'.
Do you mean `four_whe

[2021-12-17 08:06] bmagyar opened #279 "Update maintainers in all packages"

[2021-12-17 11:22] bmagyar commented on #264
@harderthan please don't create a separate repository with code copied.
The way to contribute changes and get feedback is to first fork this repo and add a new package.

For porting of controllers you don't need a design draft. I agree with @Timple *however* I think the first step should be to do the porting of that controller as-is, then you can go and improve it. Doing too many things at once wi

[2021-12-25 13:42] lukicdarkoo commented on #249
It seems that the `constraints.goal_time` parameter is also ignored (at least for state position + control position).

I am getting `Goal finished with status: SUCCEEDED` even if the joint hasn't reached the position.
[code]

[2022-01-05 08:49] PaulVerhoeckx opened #280 "Diff_drive_controller's odometry rotates in wrong direction"
The angular velocity direction of the `diff_drive_controller`'s odometry is the wrong way around. This causes the odometry topic and the transform to rotate in the inverse direction.

This bug is introduced by #260.

[2022-01-05 13:31] #280 closed

[2022-01-07 08:18] bmagyar commented on #27
@jaron-l this may be relevant for your tickets

[2022-01-08 09:57] livanov93 commented on #249
This issue should motivate to implement an option to overwrite tolerances that are sent via action goal. This is not implemented yet. For now, if you want to enforce constraints on the state (during trajectory) and on the final (goal) configuration you should set parameters like shown [here](https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/a0cfee50ae7b9318ad705d9634716a76cdb131

[2022-01-13 07:21] BenjaminHug8 commented on #274
Done in #278

[2022-01-13 07:21] #274 closed

[2022-01-19 11:33] roncapat opened #286 "Wrong integration of velocity feedback in diff_drive_controller"
See https://github.com/ros-controls/ros2_controllers/pull/260#discussion_r787651764
Thanks to @wmmc88 for spotting this bug.

[2022-01-26 04:14] armuren opened #288 "Ackermann Steering Controller"
## Background

Aside from issue #264 have there been any attempts at an ackermann controller for ros2-controllers?  From what I can tell of that issue, the port is no longer being worked on.

Here's what I currently have:

1. A project with a URDF description that is gazebo valid and spawns a simple 4 wheel robot
2. Integration with gazebo_ros2_control linking to the ros2-control Diff Drive contro

[2022-01-26 10:51] ghost opened #289 "joint_state_broadcaster always using sim time"
**Describe the bug**
Although the use_sim_time param of my joint_state_broadcaster node is False, the joint_state messages use the sim time

[code]
[code]

[code]

[code]

**Expected behavior**
Supposed to use system time like for other controllers, e.g:

[code]

[code]

**Environment**
 - OS: Ubuntu 20
 - Version: Galactic
 - Using gazebo_ros2_control
 - Does namespacing count as something unusua

[2022-01-26 13:56] tonynajjar commented on #289
P.S: I'm ghost, deleted the other account

[2022-01-29 08:03] bmagyar commented on #288
This would be a very welcome change, thank you! Would you mind posting the same message in #264  that you are essentially planning to take over this effort to notify the people over there? And this issue could be closed as a duplicate of that.

[2022-01-29 08:08] bmagyar commented on #289
Hey @tonynajjar ,

`ros2_control` uses the same time source throughout the framework, ROS time. If you are running Gazebo, this will be sim time.

Each controller/broadcaster is passed time through the `update()` function which we favour over `node->now()` as that could introduce inconsistencies.

So I'd say this is not a bug but very much intended from our end. What is your purpose of trying to m

[2022-01-29 08:42] bmagyar opened #290 "joint_trajectory_controller should not use `now()` but rely on time passed in through the `update()` function"
## Background

joint_trajectory_controller should not use `now()` but rely on time passed in through the `update()` function.

The goal of this ticket is to remove the usage of `node_->now()` from `joint_trajectory_controller.cpp` e.g. [here](https://github.com/ros-controls/ros2_controllers/blob/master/joint_trajectory_controller/src/joint_trajectory_controller.cpp#L171) and replace it with the `t

[2022-01-29 08:42] bmagyar commented on #289
https://github.com/ros-controls/ros2_controllers/issues/290

[2022-01-29 08:57] tonynajjar commented on #289
Thank you for your answer @bmagyar. So the bug is actually in joint_trajectory_controller.

I'm not trying to mix up time sources, I'm trying to use system time everywhere, which works for all my nodes except joint_state_broadcaster. Is it unusual to use system time when running gazebo simulation? Any harm in that if all nodes are consistent and use system time?

Besides what is the point of the u

[2022-01-29 09:46] Shubhanshu1902 commented on #290
I would like to work on this issue @bmagyar

[2022-01-29 10:41] destogl commented on #289
Yes this is correct. Actually the error is using `node->now()`. That is the reason why you can set it using `use_sim_time` parameter.

IMO, yes, if you are using a fully simulated environment, then you want to use simulation time. Otherwise you can get problems with synchronization. For example: if you are integrating positions from velocities in two nodes with different time sources: `delta T` wi

[2022-01-29 16:03] tonynajjar commented on #289
Alright thank you for the explanations, makes sense. Feel free to close this issue

[2022-01-29 16:07] bmagyar commented on #289
Well.. gazebo can only pretend to use system time as it scales time
dynamically based on computational load... So sometimes time may be faster
or slower, hence why in simulation cases we always want to let the
simulator tell is what time it is.

On Sat, 29 Jan 2022, 16:03 Tony Najjar, ***@***.***> wrote:

[2022-01-29 16:19] Timple commented on #289
simulator tell is what time it is.

This is optional for a reason. Folks could be doing gazebo and hardware-in-the-loop at the same time.

[2022-01-29 17:06] bmagyar commented on #289
ros2_control will use the one and only ROS time passed to it by whoever
manages the controller_manager update loop: gazebo or ros2_control_node or
others.

Mixing time is not healthy but if you still want it, do the legwork.

On Sat, 29 Jan 2022, 16:19 Tim Clephas, ***@***.***> wrote:

[2022-01-29 17:52] Timple commented on #289
👍
That is all that should be 🙂

[2022-01-29 19:25] aboarya commented on #288
Sure thing! Will do...

[2022-01-29 19:25] aboarya commented on #264
Has any further work been done on this issue? I also need to implement a car-like steering controller for my current project.

[2022-02-11 15:35] erickisos commented on #290
Hey Hi!

Sorry if this is a dumb question but I have one doubt, do we have a test suite to check if everything is working? I mean, to be sure that I can change the code without breaking anything?

Can you assign this to me as my first issue?

[2022-02-12 08:56] bmagyar commented on #290
We have quite a few tests for controllers, never enough of course but there should be plenty of coverage for this job

[2022-02-12 16:18] erickisos commented on #290
Amazing, thank you @bmagyar !

[2022-02-12 16:34] erickisos opened #295 "Clang Format in pre-commit file could be broken on newer systems"
## Context

Hey folks, I'm having problems doing a simple commit because of our pre-commit configuration, there is one step in which we have defined `clang-format-10`, and by default at least on my machine, brew is pulling version 13 of that program.

So, my question is, do you think it is worth just removing that kind of restriction from our pre-commit file? or are we using some specific settings

[2022-02-12 17:09] erickisos commented on #295
Just adding some extra information:

I tried running the pre-commit tasks with clang-format 13, and because we are using the [Allman specification for "BreakBeforeBraces"](https://clang.llvm.org/docs/ClangFormatStyleOptions.html) the version solves everything "correctly".

However, in the pipeline of #296 it seems like clang-format-10 has [this bug](https://bugs.llvm.org/show_bug.cgi?id=27640) and

[2022-02-12 18:27] bmagyar commented on #295
The best way would really be to use a container-based clang-format like the
rest of the tools tend to be with precommit  (or virtualenv). I'm also not
happy with the system dependencies spilling into the precommit file but
currently that seemed to be the best option. Please note that when it comes
to CI the only option we really have is some Linux, specifically Ubuntu as
it's the most native ROS p

[2022-02-14 10:17] samuk commented on #194
@destogl do you think you may still find time for this?

[2022-02-22 21:31] destogl commented on #295
I didn't, but it would be a great thing to do.

[2022-02-25 07:58] #295 closed

[2022-02-25 09:20] bmagyar opened #302 "controllers hardly use realtime_tools, they should"
realtime_tools was not ported really well which led to little adoption of it in the new controllers.

Once we have https://github.com/ros-controls/realtime_tools/issues/81 completed, the controllers should be reviewed & refactored to make use of realtime_tools.

[2022-02-25 09:20] bmagyar opened #303 "joint_trajectory_controller should be feature complete with ROS Noetic version"

[2022-02-25 09:21] bmagyar opened #304 "diff_drive_controller code tidy-up + many tests are missing from ROS1"
Review the code and feature list of diff_drive_controller from ROS1 and write up a comparison with the current version in ROS2, don't forget about testing either.
Please make sure to highlight messy or inefficient parts in the current ROS2 implementation, there should be a few of those still...

https://github.com/ros-controls/ros_controllers/tree/noetic-devel/diff_drive_controller
https://wiki.ro

[2022-02-27 06:23] aprotyas opened #305 "[CI] colcon-mixin for coverage-gcc wrongly specified in action-ros-ci"
**Describe the bug**

The `colcon-mixin-name` option used to specify the `coverage-gcc` mixin in [invoking `action-ros-ci` for `ros-tooling-ci`](https://github.com/ros-controls/ros2_controllers/blob/b9ccf04aa95203e37077f297ddcf9f933ef464fa/.github/workflows/ci.yml#L55) has been removed from said Github action in https://github.com/ros-tooling/action-ros-ci/pull/591, with `colcon-defaults` being su

[2022-03-10 16:30] RobertForristall opened #312 "Ros2_control diff_drive cant turn in gazebo"
Describe the bug
When working with the ros2_control package using the diff_drive_controller in gazebo the robot responds to the linear.x component of the twist message and drives forward; however it doesn't respond to the angular.z component of the message for turning.

To Reproduce
Steps to reproduce the behavior:

    Download the following package: https://drive.google.com/drive/folders/1SJmruu

[2022-03-11 07:39] bmagyar opened #313 "Port rqt_joint_trajectory_controller to ROS2"
Port over https://github.com/ros-controls/ros_controllers/tree/noetic-devel/rqt_joint_trajectory_controller from ROS1

[2022-03-12 16:02] destogl commented on #312
I was testing diff drive on rolling and galactic. There should be working.

And don't expect us to test your package. This sounds very much like wrong configuration. Check the output/publishers of DiffDrive controller and see what happens when you use "open_loop". Compare rviz and gazebo outputs.

[2022-03-12 16:05] #290 closed

[2022-03-14 23:09] destogl opened #314 "Use shared_ptr for passing node object as argument"
We should probably here use SharedPtr to the node and not the object itself. This is usually done in the rest of the code-base.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/244#discussion_r824487784_

[2022-03-24 13:17] ros-gy commented on #286
Would the fix for this issue to change line 220/221 (depending on master/galactic branch) to:

`odometry_.updateFromVelocity(left_feedback_mean*update_dt.seconds(), right_feedback_mean*update_dt.seconds(), current_time);`

[2022-03-31 12:53] jaron-l commented on #263
I was able to figure out that the test fails because sometimes [this line](https://github.com/ros-controls/ros2_controllers/blob/c51ba1e45ff3868f7d50b164e3ed8162db4440f1/force_torque_sensor_broadcaster/src/force_torque_sensor_broadcaster.cpp#L162) evaluates to false which causes the update function to never publish in InterfaceNames_Publish_Success. I ran the test 500 times and every failure of th

[2022-04-01 18:24] jackcenter opened #322 "RealtimeBuffer has no member named reset"
**Describe the bug**
When doing a clean build on Galactic I get the following error:
[code]
I can fix the error by reverting #283.

**To Reproduce**
Steps to reproduce the behavior:
1. Do a clean build with the galactic branch.

**Expected behavior**
No errors on build

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Version: Galactic

[2022-04-01 19:00] aprotyas commented on #322
What version of realtime_tools do you have? I can build cleanly on the latest [Galactic docker image](https://hub.docker.com/layers/ros/library/ros/galactic/images/sha256-5e94a4cb9fa079ba2d516530161f629ff0c59650cf869bf63a5c19a4f9f0dd49?context=explore) with:
[code]

[2022-04-01 19:18] jackcenter commented on #322
Thanks for the quick response! Looks like I had two installed and was using the wrong one, this fixed it for me. Thanks again!

[2022-04-01 19:18] #322 closed

[2022-04-08 06:53] bmagyar opened #325 "[JTC] Investigate how to refactor these cascading `if`s so that it is easier to read which conditions together lead to a failure."
Investigate how to refactor these cascading `if`s so that it is easier to read which conditions together lead to a failure.
This section of  the code looks like a table of booleans where in some cases an error is flagged up.

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_controllers/pull/225#discussion_r845789879_

[2022-04-08 06:53] bmagyar opened #326 "[JTC] This set of cascading `if`-s should be refactored into something more readable."
This set of cascading `if`-s should be refactored into something more readable.
I suggest 2 things:
* make the selection of choosing the command somehow more explicit with different variable names, etc: `tmp_command_` is not very intuitive
* refactor all the `assign_interface_from_point` uses into a function that gets a parameter, the command (whether it's desired state or the pid command)

_Origi

[2022-04-08 19:57] jaron-l commented on #263
I found the problem. When the controller is constructed, it initializes a real time publisher which starts a thread for the publish loop. That loop sets the `turn_` variable which dictates if the loop is real time or not. The `ForceTorqueBroadcaster` initializes and finishes the test before the publishing loop has time to set that turn_ variable for the first time, thus it skips allowing the publi

[2022-04-12 13:52] joe28965 commented on #188
Is it me or has ros2_controllers since been released on both Galactic and Rolling and should this issue be closed?

[2022-04-12 13:55] bmagyar commented on #188
Oh yes of course, long since it's been released to both. Closing

[2022-04-12 13:55] #188 closed

[2022-04-18 10:27] mhubii opened #332 "joint_state_broadcaster/JointStateBroadcaster re-load appends states"
Hi,

upon re-loading the `JointStateBroadcaster` via service call, as indicated here https://discourse.ros.org/t/ros2-control-controller-restart/24662/2?u=mhubii, it appears that the published states are appended to the already existing ones. For example, if one publishes the states for `joint_0`, re-loading will cause states to be published twice for `joint_0`. Re-loading once more, will cause th

[2022-04-18 11:58] bmagyar commented on #332
You are probably right. Can you provide t up a PR against `master` please? I can backport to foxy and galactic and put out releases sasap

[2022-04-20 18:01] bmagyar opened #335 "Add format stage to CI"
## Background

Copy it from https://github.com/ros-controls/ros2_control/blob/master/.github/workflows/format.yml

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to make it more legible to people who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

We're interested in helping you take the first ste

[2022-04-20 21:40] bmagyar opened #336 "Rename JTC actionserver callbacks"
these callback aren't named properly anymore. the follow-up of accepting the goal is meant to happen in the 3rd bound function which is confusingly named `feedback_setup_callback`. we should rename them

https://docs.ros2.org/galactic/api/rclcpp_action/create__server_8hpp.html

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_controllers/pull/190#discussion_r847000304_

[2022-04-21 08:57] bmagyar opened #337 "Replace `RCLCPP_ERROR_STREAM` with `RCLCPP_ERROR` in gripper action controller"
Could we also change this macro to `RCLCPP_ERROR` instead of stream? There is no value in it, but it's confusing to read.

I know I am asking for something out of scope, but it seems there are only three places of this and it would be great to solve them right away.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/329#discussion_r852904860_

[2022-04-21 15:19] tonynajjar commented on #288
Hi @armuren, I'm sure many are impatiently waiting for your contributions! Could you share any updates on your progress?

[2022-04-22 00:28] jaron-l commented on #335
This already exists: https://github.com/ros-controls/ros2_controllers/blob/master/.github/workflows/ci-format.yml

If you check the "Actions" tab, it looks like it's been running lately too.

[2022-04-23 16:07] rcywongaa commented on #253
This is also happening for `ign_ros2_control`.  Though in this case, the symptom is an assertion fail
[code]

https://github.com/ros-controls/ros2_controllers/blob/8e40fd5791805e3d1435992b5134673aecddc25b/diff_drive_controller/src/diff_drive_controller.cpp#L479

Sets `previous_update_timestamp_` to system (epoch) time

https://github.com/ros-controls/ros2_controllers/blob/8e40fd5791805e3d1435992b5

[2022-04-25 18:01] bmagyar commented on #335
Perfect, done! :D

[2022-04-25 18:01] #335 closed

[2022-04-28 18:05] AugusteBourgois commented on #304
I just came across you issue as I was looking for a reason why the update function of the diff_drive_controller started by checking whether the controller was activated or not.
After looking at the previous versions of the code, and in particular cross checking with the controller_manager package, it seems to me that this could be an old artifact from the eloquent version of the controller, as in

[2022-05-02 14:00] tonynajjar commented on #288
We waited so impatiently that we decided to give it a try ourselves :smile: : https://github.com/ros-controls/ros2_controllers/pull/344/files
It's not exactly ackermann but I think with minor changes it could also work for ackermann as the kinematics are very similar as far as I know

[2022-05-02 18:04] jackcenter opened #347 "No Output to Screen for JTC Commands in the Demos"
**Is your feature request related to a problem? Please describe.**
In the demos `ros2 launch ros2_control_demo_bringup test_joint_trajectory_controller.launch.py publisher_config:=rrbot_namespace_joint_trajectory_publisher.yaml`  doesn't output the commands to the screen like the other controllers do.

**Describe the solution you'd like**
I was planning on adding the output to the test nodes [here

[2022-05-02 18:05] jackcenter commented on #347
I am planning to work on this.

[2022-05-03 06:44] #286 closed

[2022-05-14 11:34] tonynajjar opened #353 "‘CallbackReturn’ in namespace ‘controller_interface’ does not name a type"
**Describe the bug**
ros2_controllers won't build

**To Reproduce**
Steps to reproduce the behavior:
1. clone ros2_control and ros2_controllers on master branches
2. colcon build --packages-up-to ros2_controllers

several controllers fail to build because

`error: ‘CallbackReturn’ in namespace ‘controller_interface’ does not name a type
`

**Expected behavior**
Successful build

**Screenshots**
If

[2022-05-15 07:25] bmagyar commented on #353
Worked for me yesterday.

Can you post exact steps to reproduce please?
Do you have ros2_control installed too? I found that to break builds sometimes

[2022-05-15 08:16] tonynajjar commented on #353
You're right, happens only when ros2_control is installed via apt as well.

The exact steps on a fresh rolling image are then:

1- apt install ros-rolling-ros2-control
2- clone ros2_control and ros2_controllers on master branches
3- colcon build (--packages-select diff_drive_controller --event-handlers console_direct+)

In the verbose mode, it shows the installed version "/opt/ros/rolling/include/

[2022-05-16 19:23] armuren commented on #288
@tonynajjar my apologies! I got distracted and was not able to follow up on this.  I will close this PR

[2022-05-16 19:23] #288 closed

[2022-05-17 08:47] Noel215 commented on #313
Hi! I have started working on this

[2022-05-20 16:05] #263 closed

[2022-05-23 15:22] AndyZe commented on #353
I think the conflict between a debian and a source build is a common, known issue with ROS2. I can't find a great reference but here's a similar issue. There, somebody says `ament` is the root cause.

https://github.com/ros-planning/moveit2/issues/796#issuecomment-967249746

With that said, I'm suffering from the same issue, even after removing the debians. Sigh. I'll report back if I find a solut

[2022-05-23 22:05] engeen-nl opened #357 "Odometry position approximation: exact integration / rungeKutta2 integration / rungeKutta4 integration?"
Line 150 of odometry.cpp gives the comment:
`/// Exact integration (should solve problems when angular is zero):`
However, it is executed when `!(fabs(angular) < 1e-6)` as it is in the else clause. Is this supposed to be the other way around? Or is the comment wrong?
And maybe this discussion is better another place, but when I see the RungeKutta2 function, I'm not much of a Mathematician, but it

[2022-05-29 15:17] AlezzzRd opened #358 "Loader for controller 'XXX' not found."
Hi,

I tried to write a new controller according to the guidance in this link.
https://control.ros.org/foxy/doc/ros2_controllers/doc/writing_new_controller.html

I think my export definition for pluginlib in the CMakeList file and at the bottom of the controller .cpp file are correct. But when I tried to spawn the controller using code as follows.
[code]
I got the error as follows.
![image](https:

[2022-05-30 05:41] AlezzzRd commented on #358
I think I fixed it by adding this in the CMakeList file.
[code]

[2022-06-16 19:10] AndyZe opened #364 "JointTrajectoryController does not load parameters correctly"
The JTC loads parameters [like this](https://github.com/ros-controls/ros2_controllers/blob/801b708f58d0e63fab635d03f6bf4fc36e512a02/joint_trajectory_controller/src/joint_trajectory_controller.cpp#L64):

`auto_declare<bool>("open_loop_control", open_loop_control_);`

The definition of auto_declare [is here](https://github.com/ros-controls/ros2_control/blob/643483355ba1c2c6c4d029eed7c7d3d6e3bcb116/c

[2022-06-20 06:17] destogl commented on #312
@RobertForristall any news on this issue?

[2022-06-29 17:12] SourabhPrasad opened #372 "JointTrajectoryController state interface"
### Environment
- ROS Distro: Humble
- OS Version: e.g. Ubuntu 22.04

### Description
I am using JointTrajectoryController, with velocity, acceleration command interface and position state interface, to execute the trajectory generated by MoveIt2!. The motor is connected to a teensy3.6 using [TeensyStep library](https://github.com/luni64/TeensyStep). I have create a actuator hardware interface. Th

[2022-06-29 22:00] tonylitianyu opened #373 "effort_controllers/joint_position_controller from ROS1"
ros1_controllers has **effort_controllers/joint_position_controller** that accepts position commands and targets an effort-controlled joint. But in this repo, the effort_controllers only accept group effort commands. Is it moved somewhere else or the feature is still missing?

[2022-07-04 16:06] GeorgeVe opened #376 "realtime_tools isn't an export dependency from joint_state_broadcaster"
**Describe the bug**
The joint_state_controller doesn't build when building the `joint_state_controller`, `joint_state_broadcaster` and realtime_tools from source code. (in foxy, not sure about other distributions)

**To Reproduce**
Clone `ros2_controllers` package
Clone `realtime_tools` package
Use `colcon build`
-> It will fail with message:

`In file included from .../ros2_controllers/joint_sta

[2022-07-04 18:45] AndyZe opened #378 "Diff drive controller build issue: get_prefix_name"
I'm on ROS2 Rolling and just did a rebase on the `master` branch.

Build error:

[code]

You can see it in the CI log here:

https://github.com/ros-controls/ros2_controllers/runs/7179872463?check_suite_focus=true

[2022-07-05 06:43] bmagyar commented on #378
Get the latest ros2_control (you may need to uninstall the last release if
the cmake gods are not happy with you) and that should fix it.

On Mon, 4 Jul 2022 at 19:45, AndyZe ***@***.***> wrote:

[2022-07-05 14:49] Llavrih opened #379 "ros2_controllers Humble"
## Problem

When will be ros2_controller for humble releasd?

## Environment

    ROS Distro: Humble
    OS Version: e.g. Ubuntu 22.04

[2022-07-05 19:15] tonylitianyu commented on #373
To be more specific, I am trying to control an arm to a set joint position, but with limited torque, so that when an external force (larger than the torque limit) is present, the arm will deviate from the position (with some kind of compliant behavior). Once the external force is gone or become smaller, the arm will tend to move back to the set joint position. Basically some kind of passive motion

[2022-07-05 20:29] #379 closed

[2022-07-05 20:31] bmagyar commented on #373
This functionality is currently missing but it's fairly straight forward to
port it from ROS1. I'd happily review a PR for this

On Tue, 5 Jul 2022, 20:15 Tianyu Li, ***@***.***> wrote:

[2022-07-05 21:35] tonylitianyu commented on #373
@bmagyar Just realize https://github.com/ros-controls/ros2_controllers/pull/198 has the group version for this a year ago, is there a reason why it has not merged yet? Would be happy to contribute to this.

[2022-07-06 13:24] bmagyar commented on #373
It needs revival :)

[2022-07-09 03:00] robofoundry opened #381 "What does imu_sensor_broadcaster controller do and how to use it?"
I have tried to read the code and follow the demo controllers repository but really cannot figure out what is the purpose of imu_sensor_broadcaster and how to use it. Can someone explain?

I have used the diff_drive_controller several times and love the functionality and I was wondering what I can do with the out of the box imu_sensor_broadcaster. The only two parameters it takes is sensor name an

[2022-07-10 06:37] olivier-stasse commented on #381
One way to see the `imu_sensor_broadcaster` is a simple bridge between the ros2_control C++ interface world and the ros2 middleware world. Same for the `joint_state_brodcaster`.

From your question you may belooking for a state estimator that you could use for building a `controller` by composition of other ros2_controllers. Thanks to @destogl with the chained controller this is a functionality th

[2022-07-10 16:58] robofoundry commented on #381
Thanks for the quick response @olivier-stasse. My hope was, if I wanted to integrate e.g. an MPU6050 or BMI160 IMU and I have c++ code to interface with the sensor, how would I use that with the imu_sensor_broadcaster? Or do I have to write a custom controller that implements SensorInterface in this scenario? A similar situation for the diff drive controller robot would be - just use the ros2_cont

[2022-07-10 17:12] olivier-stasse commented on #381
You are welcome.

You will need to implement a SensorInterface for your IMU.

There is already a ros2_control driver for dynamixel:
https://github.com/youtalk/dynamixel_control

The imu_sensor_broadcaster will read the sensor value that you provided through your SensorInterface and publish it in a topic. It can be then used by the Navigation stack to update the odometry. If you have a laser or a R

[2022-07-15 20:00] tonynajjar commented on #264
@bmagyar are you getting the notifications on this PR? Could you advise on how to proceed?

https://github.com/ros-controls/ros2_controllers/pull/345

[2022-07-17 10:53] bmagyar commented on #264
As far as I'm concerned @tonynajjar your PR is the way to go. Sorry for the delay on reviewing, we've been really busy with framework features and controllers received a little less attention. We have the reviewer lottery to help with that but sometimes you get unlucky with the draw

[2022-07-23 17:14] tonynajjar opened #387 "Standardize and move rate limiters to control_toolbox"
**Describe the solution you'd like**
Mobile base (and perhaps other) controllers use some form of rate limiters to limit speeds, acceleration, jerks. Currently each controller has its own implementation. It would be nice to standardize this module and put it in control_toolbox

[2022-07-23 17:20] tonynajjar opened #388 "Refactoring getting the state/command handle"
**Describe the solution you'd like**
As proposed here https://github.com/ros-controls/ros2_controllers/pull/345#discussion_r922725723, the idea is make a utility function to retrieve a state/command handle from the state/command interfaces.

Inputs of that function: interfaces vector, name to look for, interface name (type) to look for
Returns: std::optional<handle>

[2022-07-26 20:34] AndyZe opened #392 "Dynamic memory allocation in the joint trajectory controller"
Here are some spots of dynamic memory allocation in the realtime `update` method of the JTC we should try to get rid of:

In `fill_partial_goal()`:
https://github.com/ros-controls/ros2_controllers/blob/d8d661607f770e704b774249a31534fa0eb0d46b/joint_trajectory_controller/src/joint_trajectory_controller.cpp#L1084

And several other places.

In `sort_to_local_joint_order()`:

`output.resize(mapping.s

[2022-07-27 15:32] destogl opened #394 "Discourage changing the number of DoFs / joints for controller after those are initialized?"
Discussing parameters handling with @tylerjw and @pac48 it seems that resetting the number of DoF in `on_configure` in some controllers only complicates the management of those. This does not make much sense because if one needs to change the number of DoF in a controller, another instance of the controller should be used.

Recommended resolution for all (standard) controller in this package:
1. R

[2022-07-27 15:43] AndyZe commented on #394
This will also improve realtime performance. If you look at the JTC, all of the dynamic memory allocation occurs because it is possible for `dof` to change size. (Noted in #393)

[2022-07-27 18:05] bmagyar commented on #394
There should be a whole bunch of parameters I'd discourage people from changing, including DOF

[2022-07-27 18:07] destogl commented on #353
Closing because it should be an issue anymore.

[2022-07-27 18:07] #353 closed

[2022-08-02 19:22] fmauch opened #404 "Crash in force_torque_sensor_broadcaster"
**Describe the bug**
Since we finally switched towards this repo's force_torque_sensor_broadcaster inside the ur_robot_driver, I've noticed crashes inside the controller on ROS galactic.

**To Reproduce**
Steps to reproduce the behavior:
1. Install ur_robot_driver (sudo apt install ros-galactic-ur-robot-driver)
2. Start the robot (simulation does it as well: `docker run --rm -it -p 5900:5900 -p 60

[2022-08-02 21:08] fmauch commented on #404
Here's a traceback with full debug flags:

[code]

[2022-08-02 21:40] fmauch commented on #404
Following the traceback this seems to be related to https://github.com/ros-controls/ros2_control/pull/580. I could cherry-pick that [commit](https://github.com/ros-controls/ros2_control/commit/223b2593b09e3c2b453d8c02f7f402d590316124) into galactic directly and it seemed to fix the issue for me. So, I guess it is indeed the wrong repo and this issue should be inside `ros2_control`.

@maintainers:

[2022-08-02 22:01] bmagyar commented on #404
I think anything for tomorrow is a fairly short notice but we can certainly try. I can bring attention to this issue to argue it being included while things are being frozen.

[2022-08-03 06:33] bmagyar commented on #404
https://github.com/ros/rosdistro/pull/34052

[2022-08-03 14:45] tylerjw opened #405 "Tests that call on_configure without a successful on_init"
In writing PRs for the parameter change I realized that many tests depend on being able to call on_configure before ever calling on_init or when they have called on_init and it has failed. Here is an example:

https://github.com/ros-controls/ros2_controllers/blob/4138b734c3c1389fd715408ead3d24485d3e4c25/joint_state_broadcaster/test/test_joint_state_broadcaster.cpp#L156

[2022-08-04 14:47] destogl commented on #404
This is some great debugging! Thanks!

[2022-08-04 16:57] swiz23 opened #406 "Joint State Broadcaster Renames Joints"
**Describe the bug**
The joint_state_broadcaster seems to rename joints (by tacking on '/position' or '/velocity' to the name). For example, this is what my ros2 controllers yaml looks like

[code]
So when the joint_state_broadcaster publishes to the <controller_ns>/joint_state topic, I'd expect the names to be equivalent to the 'joint_1, joint_2' etc... However, this is not the case. Instead the

[2022-08-04 17:58] swiz23 commented on #406
Closing since it turned out the Docker container I was using built ros2_controllers from source using tag 2.6. I just tried building ros2_controllers from source for version 2.8 and everything seems to work as expected.

[2022-08-04 17:58] #406 closed

[2022-08-04 19:39] bmagyar commented on #406
Glad to hear, thanks!

[2022-08-05 07:26] fmauch commented on #404
@bmagyar Thank you for taking such quick action. I haven't been actively working on this the last two days, but I followed along the successful merge into the rosdistro.

I've now confirmed that this resolves the issue described above using the binary packages from the testing repo, so the version synced today will work for users :-)

Closing this as resolved.

[2022-08-05 07:26] #404 closed

[2022-08-07 20:28] bmagyar opened #407 "[JTC] Add new test to ensure that controller goes into position holding when tolerances are violated"
[...] Would it be possible to write a small test for this behavior? We would then feel better in the future to know that behavior is not broken (again).

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/368#pullrequestreview-1019716551_

[2022-08-10 15:48] macstepien opened #411 "Units of velocity feedback in diff_drive_controller"
Currently velocity feedback in diff_drive_controller is expected to be in m/s. Taking into account that position feedback is in radians and velocity commands are in rad/s it seems quite odd. I think that it will be better to also use rad/s there, following change should be enough:
[code]

[2022-08-17 08:14] arshadlab opened #416 "High CPU usage by gzserver with JTC after first action server request."
**Describe the bug**
      I came across high CPU usage for gzserver with JTC action server (e.g moveit2).  Action server creates a wall timer to execute and keep track on ongoing goal.  The issue is that there always be a running action server timer in the background after receiving first action request which causes gzserver CPU usage very high.   At times there will two timers running at same ti

[2022-08-17 16:42] destogl opened #417 "Cleanup tests for controllers to not call `on_configure` if `on_init` fails"
It guards against on_configure being called and resulting in a segfault in the case where on_init failed and param_listener_ is not yet valid.

_Originally posted by @tylerjw in https://github.com/ros-controls/ros2_controllers/pull/395#discussion_r947001737_

Then also cleanup the code from guards.

[2022-08-17 19:49] jaron-l commented on #248
Closing this issue as the CI now runs and builds correctly on rolling

[2022-08-17 19:49] #248 closed

[2022-08-18 15:42] jaron-l commented on #417
Isn't this a duplicate of #405?

[2022-08-18 16:59] jaron-l opened #421 "Comment tests back in for joint_trajectory_controller"
**Describe the bug**
Some tests were commented out in joint_trajectory_controller/test/test_trajectory_controller.cpp during #391 to get tests to a working state. Comment these tests back in and fix why they broke.

[2022-08-23 06:17] destogl commented on #417
It's actually inverse and expected behavior. Those will be resolved soon, when we merge all Parameters stuff.

[2022-08-24 00:09] #416 closed

[2022-08-24 11:48] destogl commented on #347
Close because the node is moved to another repo and should be solved in #389

[2022-08-24 15:14] destogl opened #424 "Admittance Controller should use filters from `control_toolbox` for gravity compensation and smoothing."
Please use filter for gravity compensation. If needed, the filter can be extended. And not only that, we want to use filter for other things too, like noise reduction and similar.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/370#discussion_r917714081_

[2022-08-28 21:23] bmagyar commented on #416
Is this not relevant anymore? Why did you close it?

[2022-08-29 02:28] arshadlab commented on #416
Hi,
  I figured out that the above described solution is to address the symptoms only and real root cause of high CPU usage is still not handled.   The high CPU usage during trajectory execution doesn't make sense thought it does came down to normal after the trajectory is executed with proposed changes.

According to findings, the actual reason of CPU high usage is because of timer being fired co

[2022-09-02 16:35] GilmarCorreia opened #429 "[joint_state_broadcaster] Duplication while switching controllers"
**Environment:**
 - OS: Ubuntu 20.04 (wsl2)
 - Version: Foxy

**Bug**
Hello ROS developers,

I'm reporting this bug and the solution that I found for it.

I'm using joint_state_broadcaster with a simulation tool. To avoid overprocessing while the simulator is not running, I have used the switch_controllers to stop the controllers and broadcaster while the simulation is not running and to start the

[2022-09-03 18:59] destogl commented on #429
Can you please open a PR with this fix?

[2022-09-05 04:07] GilmarCorreia commented on #429
Done.
https://github.com/ros-controls/ros2_controllers/pull/431

[2022-09-05 16:33] #347 closed

[2022-09-06 06:55] destogl opened #432 "[JointStateBroadcaster] Add tests for clearing joint_names in JointStateBroadcaster"
Two cases should be tested:

1. When broadcaster is reactivated, joints should not be duplicated.
2. When broadcaster is deactivated, the joint names should be cleaned.

That's technically be more correct, but I think it's even more bulletproof to let the function generating a new setup do a quick cleanup -- as-is now

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_controll

[2022-09-06 07:26] #429 closed

[2022-09-26 12:43] destogl commented on #411
This sounds very plausible. You can open a PR and execute tests and see what they are saying. Maybe there are frew other places where this feedback is used and should be also adjusted.

[2022-09-26 12:44] destogl commented on #381
I think the question is answered, therefew closing this.

[2022-09-26 12:44] #381 closed

[2022-09-26 12:46] destogl commented on #373
@tonylitianyu you wanted to contribute to this. Is this still the case?

[2022-09-29 12:54] mwlock opened #440 "Disable cmd_vel_timeout"
Hey !

Is there any way to disable the cmd_vel_timeout for the diff drive controller? It is not very apparent how to do this in the documentation. I have also checked the source code as well and it does not seem possible in its current implementation.

I am happy to create a PR if needed.

See this https://github.com/cyberbotics/webots_ros2/issues/468 for more context.

[2022-10-10 13:58] jaron-l opened #447 "joint_trajectory_controller::test_trajectory_controller.cpp tests timeout"
**Describe the bug**
joint_trajectory_controller::test_trajectory_controller.cpp::PositionTrajectoryControllers/TrajectoryControllerTestParameterized.configure_state_ignores_commands/0 times out when running from commit b157c0d35d42f850dbb48f1d35f91796344c2a5c

**To Reproduce**
Steps to reproduce the behavior:
1. checkout commit b157c0d35d42f850dbb48f1d35f91796344c2a5c
2. build
3. run all tests in

[2022-10-10 20:47] destogl opened #449 "[Admittance Controller] Use control_interface::helpers method to sort the interfaces."
Can we use here a helper method for sorting reference interfaces out is they exist?

The same one I mentioned before that is used in JTC.

Maybe we need another helper method for this, which would be also fine, since this could be something that is done very oftten. (We should open follow-up if such method is needed).

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controll

[2022-10-10 21:18] destogl opened #450 "[AdmittanceController] Move the fiel with 6d robot description to the test_asset_package."
## Background

Do the following:

- [ ] Move this to the assets' folder in the ros2_control repository.
- [ ] update test code here to use another header file.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_controllers/pull/370#discussion_r991645586_

## Instructions
Hi, this is a `good-first-issue` issue. This means we've worked to make it more legible to people who eithe

[2022-10-11 22:17] bmagyar opened #451 "Fix param export following #448"
#448 applied some fixes to controllers using the generate parameters lib when it was merged. Anything merged after that should also keep track of this.

* [ ] #396
* [ ] #398
* [ ] #386
* [ ] #399

[2022-10-12 22:21] tylerjw commented on #451
Pushed a change to #396 based on this.

[2022-10-13 16:24] bmagyar commented on #451
Thanks, merged!

[2022-10-17 12:07] macstepien commented on #411
I executed tests locally, but noticed that even on the current `master` branch `diff_drive_controller` tests sometimes failed. It seems that `correct_initialization_using_parameters` is not really deterministic or there was something wrong with my setup (it would be nice to run CI on the PR that I created). Additionally I looked into this test and it doesn't look like my change will be executed th

[2022-10-17 19:31] tylerjw commented on #451
Cleaned up https://github.com/ros-controls/ros2_controllers/pull/398

[2022-10-17 19:50] tylerjw commented on #451
Cleaned up #386 CMake usage, had to create new PR because that was @pac48's PR: https://github.com/ros-controls/ros2_controllers/pull/453

[2022-10-17 19:54] tylerjw commented on #451
Cleaned up CMake in https://github.com/ros-controls/ros2_controllers/pull/399

[2022-10-19 10:44] jmguerreroh opened #454 "Master branch fails to build"
**Describe the bug**
Does not compile

src/force_torque_sensor_broadcaster.cpp:56:18: error: ‘std::shared_ptr<rclcpp_lifecycle::LifecycleNode> controller_interface::ControllerInterfaceBase::node_’ is private within this context
   56 |   sensor_name_ = node_->get_parameter("sensor_name").as_string();

And much more...

**To Reproduce**
colcon build --symlink-install

**Expected behavior**
The pack

[2022-10-28 13:07] Teusner opened #457 "Chained Controller exported reference interface unavailable"
## Bug
When we implement a chained controller, we need to export reference interfaces which will be (as far as I understood) seen by other controllers as command interfaces. The problem is that these exported reference interfaces don't seem to be available (as they appear unavailable). Here is the listing of the hardware interfaces.

[code]
It induces that the previous controller can't find the ex

[2022-10-28 18:37] boilerbots commented on #454
admittance_controller missing dependency kinematics_interface which I can't find to resolve the build error.

[2022-10-28 20:38] jmguerreroh commented on #454
I solve it removing admittance_controller from source: https://github.com/jmguerreroh/ros2_controllers

[2022-10-30 19:39] bmagyar commented on #454
* [X] Galactic is not supposed to work on 22.04.
* The master branch indeed won't compile unless you use the packages from the testing repos of ROS. It doesn't happen often but sometimes we have to merge things this way. This is the reason we have the `main` and `testing` variants of everything in the CI.

[2022-10-30 19:42] bmagyar commented on #454
Also... Are you building from source on humble or on rolling? The master branches target rolling and may only work with the latest distro up to a point... There's a specific branch for humble.

[2022-10-30 19:43] #454 closed

[2022-10-31 13:05] jmguerreroh commented on #454
I am building from humble. Where is the humble's branch for ros2_controllers? Documentation for humble (https://index.ros.org/p/ros2_controllers/#humble) indicates to use the master branch, and it does not work.

[2022-10-31 15:54] boilerbots opened #458 "Create a Humble branch that builds."
Also... Are you building from source on humble or on rolling? The master branches target rolling and may only work with the latest distro up to a point... There's a specific branch for humble.

_Originally posted by @bmagyar in https://github.com/ros-controls/ros2_controllers/issues/454#issuecomment-1296335979_

Please create a humble branch before the changes that where introduced into master tha

[2022-11-02 09:13] jmguerreroh commented on #458
Using this branch, you can build your project in Humble: https://github.com/jmguerreroh/ros2_controllers.git

[2022-11-02 10:37] bmagyar commented on #458
The build for admittance_controller should be fixed after the next sync.

[2022-11-05 08:03] #313 closed

[2022-11-07 13:09] Teusner commented on #457
**Update** It seems that it could be a `ros2cli` issues but I'm not sure...

[code]

[code]
(don't know if this has to be `configure` or `configured`, tried both, same output :sob: )

Can you confirm that exported reference interfaces are unavailable because my controller is unconfigured ? How can I then configure my controller (Updating the CLI, using a service call, ...) ?

Thanks in advance

[2022-11-07 20:21] Aadiv1999 commented on #373
@bmagyar i am trying to build the effort_controller: joint_position_controller from [here](https://github.com/ros-controls/ros2_controllers/tree/effort_group_position_controller/effort_controllers), but I keep getting build errors for Humble, is there any new branch with a fix for this?

[2022-11-08 10:57] bmagyar commented on #373
There was a sync a few days ago, if you `rosdep update && rosdep install --from-path src --ignore-src`, it should build fine again.

[2022-11-09 19:57] Aadiv1999 commented on #373
@bmagyar I tried that, but i still seem to be getting errors while building. To give you an idea of my setup:

- Ubuntu 22.04
- ROS2 Humble
- In my home directory, ros2 workspace (ros2_ws)
- I have the binary install of ros2_controls and ros2_controllers (ros-humble-ros2-control and ros-humble-ros2-controllers)
- In ~/ros2_ws/src i have cloned the effort_controllers package from [here](https://git

[2022-11-09 20:09] bmagyar commented on #373
Have you tried with --allow-overriding as per the error message? We
generally do not recommend having the same package you are trying to build
from source installed as binary too as ros2 seems to still have issues with
it.

On Wed, 9 Nov 2022, 20:57 Aadiv Shah, ***@***.***> wrote:

[2022-11-09 20:19] Aadiv1999 commented on #373
@bmagyar yes I did try, it is still giving me build issues/issues in the code itself as shown in the attached file

[2022-11-14 20:47] destogl opened #462 "Test all JTC parameters to be set properly from YAML file when using `generate_parameters_library`"
## Background

Add all parameters from JTC into [the example/test YAML file](https://github.com/ros-controls/ros2_controllers/blob/master/joint_trajectory_controller/test/config/test_joint_trajectory_controller.yaml).

To add all parameters check the definition of parameters in [this YAML file](https://github.com/ros-controls/ros2_controllers/blob/master/joint_trajectory_controller/src/joint_traje

[2022-11-15 14:28] AndyZe opened #463 "Add statistics collection to `mock_components/GenericSystem`"
When running simulations, it would be nice to add statistics collection to `mock_components/GenericSystem`. For example:

- What is the average rate of incoming commands?
- What is the average latency (from message stamp to message received)?
- What is the standard deviation of time between messages?

I think it would also be nice to add a service call to trigger this data collection so it doesn't

[2022-11-16 18:31] mcbed commented on #463
Hi Andy,
In terms of functionality inside the framework, does it change something to collect this date in a hardware interface rather than in a dedicated controller ? We use some of what you describe here but in a [controller](https://github.com/mcbed/r2c_perf_bmark) version to test our setups what allows us to collect data also if running a real hardware and I am curious if we could expect some d

[2022-11-17 13:46] bmagyar commented on #463
For https://github.com/ros-controls/ros2_control/pull/806 we used an instrumented JTC and instrumented mock hardware components

[2022-11-22 19:02] tonynajjar opened #469 "JTC does not stop velocity command after goal succeed"
**Describe the bug**

I'm using the JTC with a velocity command interface. After the trajectory goal succeeds, a small velocity command is still continuously sent to the hardware interface.

**To Reproduce**
setup JTC with velocity command and send a goal

**Expected behavior**

I would expect the velocity command to be reset to 0.

**Environment (please complete the following information):**
 - O

[2022-11-22 23:24] RamCharanThota commented on #462
Hi @destogl, My name is Ram. I have a some decent experience with ROS. I have been looking for opportunities to contribute to opensource. But, I don't have any previous experience. I am interested to take this opportunity and work on the above issue. You can assign this issue to me. Thank you :)

[2022-11-23 12:28] tonynajjar commented on #469
I noticed that this only happens when `use_closed_loop_pid_adapter_ = true`, so when there is a only a velocity command, which is my case

[2022-11-23 21:51] arslogavitabrevis opened #470 "Add velocity limit for wheel in diff_drive_controller"
In a differential drive controller, each motor individually have a velocity limit. Even if the velocity is limited for linear speed and for angular speed of the robot, the combination of the angular speed and linear speed may lead to overspeed of one motor. If the speed is limited in the hardware interface or by the motor itself, the heading of the robot won't follow the command velocity.

**Descr

[2022-11-24 14:30] tonynajjar opened #472 "Port velocity_controllers/joint_position_controller from ROS1"
**Is your feature request related to a problem? Please describe.**
I know you probably have it on your roadmap somehwere but I didn't find it in the issues (found [similar](https://github.com/ros-controls/ros2_controllers/issues/373)) so I'm writing this feature request to formalize it and track it

I might take this on in the near future.

[2022-11-25 14:03] bmagyar commented on #472
Volunteer accepted! :D

[2022-11-27 20:37] bmagyar commented on #458
Closing due to no activity

[2022-11-27 20:37] #458 closed

[2022-11-30 13:55] destogl commented on #472
Wait! We maybe don't need that! :)

[2022-11-30 14:19] jaron-l opened #473 "Remove update loop filtering for publishing controller state"
## Background

Per the discussion in the working group meeting on Nov. 16th, all the controllers should not be filtering their update loops using a publisher period parameter. For example, the `joint_trajectory_controller` filers in the [`publish_state`](https://github.com/ros-controls/ros2_controllers/blob/09e50139882b31a21e2c54ec1c4bf691bf58ef3d/joint_trajectory_controller/src/joint_trajectory_c